<div class="sidebar">
	<%- include ('../partials/usernav.ejs') %>

	<div class="profile">
		<img src="../source/pictures/person.svg" alt="avatar">
		<h3><%= user.name %></h3>
		<p>Kennisniveau: <span><%= user.level %></span></p>
		<p>totaal aantal punten: <span><%= user.score %> punten</span></p>
	</div>
	<div class="chat">
		<h3>Kom je er niet uit? Stel je vraag hier.</h3>
	<!-- https://widget.flow.ai/w/NjA1YzI0YTAtNjNhMi00M2U0LWI3NDYtYmMwMjA1NmE5NjAxfGU1YTA4ZjA4LWVmZmQtNGNhZS1iMGU5LTZiZDg3N2M2Y2VmZg==/flow-webclient-1.1.2.min.js -->

	<iframe src="https://wijzer.amsterdam/chat.html?fullscreen=true&origin=meesterproef" frameborder="0"></iframe>
</div>

</div>
