        <div id="overviewModal">

            <div class="overviewModalContent">

                <h2 id="introHeaderModal">Klaar om spelend digitaal wijzer te worden?</h2>

                <p id="introTextModal">Hier volgen drie schermen die uitleggen hoe jet het spel kunt starten. </p>

                <h2 id="textModal1" class="hideModalelement">1. Begin door op het huis icoon te klikken op de map</h2>
                <h2 id="textModal2" class="hideModalelement">2. Lees de begeleidende tekst en volg de instructies</h2>
                <h2 id="textModal3" class="hideModalelement">3. Het spel opent zich op een nieuwe tabblad. Klik op de button om te starten.</h2>

                <div>
                    <img id="imageModal1" class="hideModalelement" src="../source/pictures/gmap1.png" alt="map">
                    <img id="imageModal2" class="hideModalelement" src="../source/pictures/gmap2.png" alt="map">
                    <img id="imageModal3" class="hideModalelement" src="../source/pictures/gmap3.png" alt="map">
                </div>



                <button id="introBtnModal">Start</button>

                <button id="btnModal1" class="hideModalelement">Volgende</button>
                <button id="btnModal2" class="hideModalelement">Volgende</button>
                <a href="/overzicht" id="btnModal3" class="hideModalelement">Klaar</a>

            </div>

        </div>