<div class="sidebar">
	<div class="profile">
		<img src="../source/pictures/person.svg" alt="avatar">
		<h2><%= user.name %></h2>
		<p>Totaal aantal punten: <span><%= user.score %> punten</span></p>
	</div>
	<%- include ('../partials/usernav.ejs') %>
</div>