<div class="sidebar">
	<%- include ('../partials/usernav.ejs') %>

	<div class="profile">
		<img src="../source/pictures/person.svg" alt="avatar">
		<h3><%= user.name %></h3>
		<p>totaal aantal punten: <span><%= user.score %> punten</span></p>
	</div>
	<div class="missions">
		<h3>voortgang</h3>
		<ul>
			<li class="voortgang1"><a href="/#"><img src="../source/pictures/house.png"  alt="Huis icon">1. Begin hier</a></li>
			<li> <a href="/ov-detail"><img src="../source/pictures/ov.png"  alt="Openbaar Vervoer icon">2. Ov</a></li>
			<li> <a href="/quiz-detail"><img src="../source/pictures/phishing_quiz.png"  alt="Quiz icon">3. Phishing Quiz</a></li>
			<li><a href="/oba-detail"><img src="../source/pictures/bibliotheek.png"  alt="Bibliotheek icon">4. Oba</a></li>
			
		</ul>
	</div>
	<div class="chat">
		<h3>Heb je vragen over een onderwerp stel ze hiers</h3>
	<!-- https://widget.flow.ai/w/NjA1YzI0YTAtNjNhMi00M2U0LWI3NDYtYmMwMjA1NmE5NjAxfGU1YTA4ZjA4LWVmZmQtNGNhZS1iMGU5LTZiZDg3N2M2Y2VmZg==/flow-webclient-1.1.2.min.js -->

	<iframe src="https://wijzer.amsterdam/chat.html?fullscreen=true&origin=meesterproef" frameborder="0"></iframe>
</div>

</div>
