<nav>
	<ul>
		<li>
			<a href="/overzicht"> <img src="../source/icons/house.svg"  alt="">Hulpmiddelen</a>
		</li>
		<li>
			<a href="/dashboard"><img src="../source/icons/dashboard.svg"  alt="">Dashboard</a>
		</li>
		<%if (user.name === "gast") { %>
		<li>
			<a href="/profiel"><img src="../source/icons/user.svg"  alt="">Jouw informatie</a>
		</li>
		<% } else { %>
		<li>
			<a href="/profiel"><img src="../source/icons/user.svg"  alt="">Jouw informatie</a>
		</li>
		<% } %>
		<!-- <li>
			<a href="/overzicht">Hulpmiddelen</a>
		</li> -->
		<%if (user.name === "gast") { %>
		<li>
			<a href="/"><img src="../source/icons/logout.svg"  alt="">Stoppen</a>
		</li>
		<% } else { %>
		<li>
			<a href="/"><img src="../source/icons/logout.svg"  alt="">Uitloggen</a>
		</li>
		<% } %>
	</ul>
</nav>