<nav>
	<ul>
			<button class="accordion"><strong>
				<img src="../source/icons/menu.svg"  alt="">Menu
			</strong></button>
		<div class="panel">
		<li>
			<a href="/overzicht"> <img src="../source/icons/map.svg"  alt="">Kaart</a>
		</li>
		<li>
			<a href="/dashboard"><img src="../source/icons/dashboard.svg"  alt="">Dashboard</a>
		</li>
		<%if (user.name === "gast") { %>
		<li>
			<a href="/profiel"><img src="../source/icons/user.svg"  alt="">Jouw informatie</a>
		</li>
		<% } else { %>
		<li>
			<a href="/profiel"><img src="../source/icons/user.svg"  alt="">Jouw informatie</a>
		</li>
		<% } %>
		<!-- <li>
			<a href="/overzicht">Hulpmiddelen</a>
		</li> -->
		<%if (user.name === "gast") { %>
		<li>
			<a href="/"><img src="../source/icons/logout.svg"  alt="">Stoppen</a>
		</li>
		<% } else { %>
		<li>
			<a href="/"><img src="../source/icons/logout.svg"  alt="">Uitloggen</a>
		</li>
		<% } %>
	</div>
	</ul>
</nav>
<script>
	const acc = document.getElementsByClassName("accordion");
	let i;

	for (i = 0; i < acc.length; i++) {
		acc[i].addEventListener("click", function () {
			this.classList.toggle("active");
			const panel = this.nextElementSibling;
			if (panel.style.height === "auto") {
				panel.style.height = "0";
			} else {
				panel.style.height = "auto";
			}
		});
	}
</script>