<nav>
	<ul>
		<li><a href="/dashboard">Overzicht</a></li>
		<%if (user.name === "gast") { %>
		<li><a href="/profiel">Jouw informatie</a></li>
		<% } else { %>
		<li><a href="/profiel">Profiel</a></li>
		<% } %>
		<li><a href="/overzicht">Hulpmiddelen</a></li>
		<%if (user.name === "gast") { %>
		<li><a href="/">Stoppen</a></li>
		<% } else { %>
		<li><a href="/">Uitloggen</a></li>
		<% } %>
	</ul>
</nav>