
#imagePlaceholder {
    width: 8em;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

#verstuurPlugin {
    padding: 0.5em 2em;
    background-color: #fb5258;
    border-bottom: solid .25em #a8191e;
    border-radius: 1em;
    color: #fff;
    width: auto;
}

#verstuurPlugin:hover {
    filter: grayscale(.5);
    border-bottom: solid .25em #a8191e;
    border-left: solid .25em #fb5258;
    border-top: solid .25em #fb5258;
    border-right: solid .25em #fb5258;
    border-radius: 1em;
}

#addPlugin_header {
    color: #FFFFFF;
}
