main[id$="board"], main[id$="board"] section {
	margin: 0;
	padding: 0;
	max-width: 70em;
	max-width: 74.25vw;
}

main[id$="board"] > section {
	padding: 0;
	margin: 4em 0 0 3em;
}

main[id$="board"] > section section {
	margin: 2.5em 0 5em 0;
}

main[id$="board"] section:last-of-type {
	margin-bottom: 5em;
}

main[id$="board"] h2:after {
	content: "";
	display: block;
	max-width: 10em;
	height: 0.2em;
	margin: 0.5em 0 1.25em 0;
	background-color: #ff445b;
	border-radius: 1em;
}

main[id$="board"] h3 {
	text-align: left;
}

main[id$="board"] div.info {
	background-color: #fad160;
	color: #000549;
	padding: 1.25em;
	max-width: 30em;
	display: flex;
	flex-direction: row;
}

main[id$="board"] button {
	background-color: #7a84dc;
	padding: 0.05em 0.5em 0.5em 0.5em;
	margin-left: .75em;
	height: 1.5em;
}

main[id$="board"] button svg {
	width: .5em;
}

main[id$="board"] ul {
	display: flex;
	flex-direction: row;
	margin-top: 2em;
}

main[id$="board"] ul li {
	max-width: 12em;
	max-height: 12em;
	border: #ececf7 solid 0.15em;
	border-radius: 0.75em;
	margin: 0 1em;
	box-shadow: 0.25em 0.75em 1.5em rgba(120, 86, 160, 0.4);
	transition: border .3s ease;
}

main[id$="board"] ul li:hover {
	border: #8d8eb9 solid 0.15em;
}

main[id$="board"] ul li:first-child {
	margin-left: 0;
}

main[id$="board"] ul a {
	display: inline-block;
	text-align: center;
	max-height: 12em;
}

main[id$="board"] ul img {
	width: 6em;
	height: 6em;
	margin-top: 1.5em;
}

main[id$="board"] ul a span {
	display: inline-block;
	margin: 0.75em 0 1.5em 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 8em;
	max-height: 2em;
	font-size: 1.1em;
	font-weight: 700;
	color: #000549;
}