main[id$="board"], main[id$="board"] section {
	margin: 0;
	padding: 0;
	max-width: 70em;
	max-width: 74.25vw;
}

main[id$="board"] > section {
	padding: 0;
	margin: 6em 0 0 4em;
}

main[id$="board"] > section:first-of-type {
	margin-top: 4em;
}

main[id$="board"] section:last-of-type {
	margin-bottom: 5em;
}

main[id$="board"] section:last-of-type section:nth-last-child(n+2) {
	margin-bottom: 4em;
}

main[id$="board"] h2:after {
	content: "";
	display: block;
	max-width: 10em;
	height: 0.2em;
	margin: 0.5em 0 1.25em 0;
	background-color: #ff445b;
	border-radius: 1em;
}

main[id$="board"] h3 {
	text-align: left;
}

main[id$="board"] div.info {
	background-color: #fad160;
	color: #000549;
	padding: 1.25em;
	max-width: 30em;
}

main[id$="board"] button {
	background-color: #7a84dc;
	padding: 0.05em 0.5em 0.5em 0.5em;
	margin-left: .75em;
	margin-bottom: 1.5em;
	height: 1.5em;
	float: right;
}

main[id$="board"] button svg {
	width: .5em;
}

main[id$="board"] ul, main[id$="board"] ol {
	display: flex;
	flex-direction: row;
	margin-top: 2em;
}

main[id$="board"] section:nth-of-type(2) ol {
	max-width: 60em;
	padding: 3em 0;
	overflow-x: scroll;
}

main[id$="board"] section:nth-of-type(2) ol li {
	min-width: 12em;
	min-height: 12em;
	max-width: 12em;
	max-height: 12em;
	margin: 0 2em;
}

main[id$="board"] section:nth-of-type(2) ol li:last-of-type:after {
	content: "";
	display: block;
	width: 14em;
	height: 0.01em;
} 

main[id$="board"] ul li, main[id$="board"] ol li {
	width: 12em;
	height: 12em;
	border: #ececf7 solid 0.15em;
	border-radius: 0.75em;
	margin: 0 1em;
	box-shadow: 0.25em 0.75em 1.5em rgba(120, 86, 160, 0.4);
	transition: border .3s ease;
}

main[id$="board"] ul li:hover, main[id$="board"] ol li:hover  {
	border: #8d8eb9 solid 0.15em;
}

main[id$="board"] ul li:first-child {
	margin-left: 0;
}

main[id$="board"] ul a, main[id$="board"] ol a {
	display: inline-block;
	display: flex;
	text-align: center;
	max-height: 12em;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

main[id$="board"] ul img, main[id$="board"] ol img {
	max-width: 6em;
	max-height: 6em;
	margin-top: 1.5em;
}

main[id$="board"] ul a span, main[id$="board"] ol a span {
	display: inline-block;
	margin: 0.75em 0 1.5em 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 8em;
	max-height: 2em;
	font-size: 1.1em;
	font-weight: 700;
	color: #000549;
}

main[id$="board"] section:nth-of-type(3) section:first-of-type li {
	width: 16em;
	height: 10em;
}

main[id$="board"] section:nth-of-type(3) section:first-of-type span {
	max-width: 12em;
}

main[id$="board"] section:nth-of-type(3) section:first-of-type img {
	width: 4em;
	height: 4em;
}

main[id$="board"] > section section:last-of-type ol {
	display: initial;
}

main[id$="board"] > section:first-of-type section:last-of-type li {
	width: initial;
	height: initial;
	border: initial;
	border-radius: initial;
	margin: initial;
	box-shadow: initial;
}

/* datavisualisations */
main[id$="board"] > section:first-of-type div:not(.info) {
	margin: 1.5em 0;
}

main[id$="board"] > section:first-of-type section {
	margin: initial;
	background-color: #7a84dc;
	color: white;
	padding-left: 2em;
}

main[id$="board"] > section:first-of-type h3, main[id$="board"] > section:first-of-type h4 {
	font-weight: 900;
	color: white;
	font-size: 1.5em;
}

main[id$="board"] > section:first-of-type div:not(.info) {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1.5em;
}

main[id$="board"] > section:first-of-type section:first-of-type {
	grid-area: 1 / 1;
}

main[id$="board"] > section section:first-of-type svg:first-of-type {
	width: 10em;
}

main[id$="board"] > section section:first-of-type svg:first-of-type path:last-of-type {
	fill: #000549;
}

main[id$="board"] > section section:first-of-type svg:first-of-type path:first-of-type {
	fill: #c8fbf3;
}

main[id$="board"] > section:first-of-type section:nth-of-type(2) {
	grid-area: 1 / 2 span;
}

main[id$="board"] > section:first-of-type section:nth-of-type(3) {
	grid-area: 2 / 3 span;
}

main[id$="board"] > section:first-of-type section:last-of-type {
	grid-area: 2 span / 4;
}

main[id$="board"] > section section:first-of-type {
	max-width: 30em;
}

main[id$="board"] > section section:first-of-type div {
	display: flex;
	flex-direction: row;
	align-items: center;
}