#detail main {
    margin-top: calc(100vh - 80vh);
}
#detail main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#detail main ul li {
    padding: 1em 2em;
    color: #000;
    position: relative;
}
#detail main ul li h2 {
    color: #000;

}
#detail main ul li a {
    padding: 1em;
    background-color: #FB5258;
    position: absolute;
    margin: 1em 0;
    border-radius: 1em;
    color: #FFF;
    text-decoration: none;
    width: auto;
    text-align: center;
}

/*********