#detail main {
    padding-top: calc(100vh - 75vh);
    position: relative;
    margin: unset;
    max-width: unset;
    width: calc(100% - 400px);
    margin-left: unset;
    margin-right: unset;
}
#detail main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}
#detail main ul li {
    padding: 1em 2em;
    color: #000;
    position: relative;
}
#detail main ul li h2 {
    color: #000;

}

#detail main ul li a {
    padding: 1em;
    background-color: #FB5258;
    position: absolute;
    margin: 1em 0;
    border-radius: 1em;
    color: #FFF;
    text-decoration: none;
    width: auto;
    text-align: center;
}

/*********