

footer {
    background-color: #fff;
    padding: 1em;
    text-align: left;
}
footer a {
    color: #000;
}

#footerDevelopers {
    background: url(https://wijzer.amsterdam/dist/img/footer-pattern.ea88741c.svg),linear-gradient(278deg,#005668,#002b37);
    width: 100%;
    padding: 1em 5em;
    color: #fff;
}

#footerDevelopers a {
    color: #fff;
    text-decoration: none;
}


/* ------------------- */