footer {
    background-color: #fff;
    padding: 1em;
    text-align: center;
}
footer a {
    color: #000;
}

#footerDevelopers {
    background: #ff445b;
    width: 100%;
    padding: 1em;
    color: #fff;
}

#footerDevelopers a {
    color: #002b37;
}

/* ------------------- */