input[type="text"], input[type="password"] {
    padding: 0.75em 0.25em;
    font-size: 0.75em;
	margin-top: 0.5em;
}

input::placeholder {
	font-style: italic;
}

form label {
	display: flex;
	flex-direction: column;
	max-width: 14em;
	font-size: 1.5em;
	color: white;
	text-transform: capitalize;
	margin: auto;
}

form label:first-of-type {
	margin-bottom: 0.75em;
}

form[action="/login"] {
    display: flex;
    flex-direction: column;
    max-width: 40em;
	margin: 0 auto;
	align-items: center;
}

form button {
	width: 12em;
    margin: 0 auto;
    margin-top: 5em;
	height: 5em;
	background-color: #D4E34B;
	border-radius: 0.25em;
	border: 0.25em solid rgba(0, 0, 0, 0);
	transition: border ease-out 0.4s;
}

form button:hover, form button:focus {
	background-color: #B0BD3E;
	border: 0.25em solid white;
}

input[type="text"], input[type="password"] {
    padding: 0.75em 0.25em;
    font-size: 0.75em;
	margin-top: 0.5em;
}

input::placeholder {
	font-style: italic;
}

form label {
	display: flex;
	flex-direction: column;
	max-width: 14em;
	font-size: 1.5em;
	color: white;
	text-transform: capitalize;
	margin: auto;
}

form label:first-of-type {
	margin-bottom: 0.75em;
}

form[action="/login"] {
    display: flex;
    flex-direction: column;
    max-width: 40em;
	margin: 0 auto;
	align-items: center;
}

form button {
	width: 12em;
    margin: 0 auto;
    margin-top: 5em;
	height: 5em;
	background-color: #D4E34B;
	border-radius: 0.25em;
	border: 0.25em solid rgba(0, 0, 0, 0);
	transition: border ease-out 0.4s;
}

form button:hover, form button:focus {
	background-color: #B0BD3E;
	border: 0.25em solid white;
}

input[type="text"], input[type="password"] {
    padding: 0.75em 0.25em;
    font-size: 0.75em;
	margin-top: 0.5em;
}

input::placeholder {
	font-style: italic;
}

form label {
	display: flex;
	flex-direction: column;
	max-width: 14em;
	font-size: 1.5em;
	color: white;
	margin: auto;
}

form label:first-of-type {
	margin-bottom: 0.75em;
}

form[action="/login"] {
    display: flex;
    flex-direction: column;
    max-width: 40em;
	margin: 0 auto;
	align-items: center;
}

form button {
	width: 12em;
    margin: 0 auto;
    margin-top: 5em;
	height: 5em;
	background-color: #D4E34B;
	border-radius: 0.25em;
	border: 0.25em solid rgba(0, 0, 0, 0);
	transition: border ease-out 0.4s;
}

form button:hover, form button:focus {
	background-color: #B0BD3E;
	border: 0.25em solid white;

}