header {
	margin: 0 auto;
}

header.user {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: url(https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg),linear-gradient(-30deg,#5855b0,#a79cfb);
    border-bottom: .15em solid #4a2a58;
    width: 100%;
    margin: 0;
}

header h1 {
	font-weight: 900;
	margin: 0;
}

nav:first-of-type {
	display: flex;
    color: white;
	margin: 1em 0.75em;
}

nav:first-of-type > img {
    max-width: 2em;
}

nav:first-of-type ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: #000;
}

nav:first-of-type li {
    margin: 0 8px;
    margin: 0 0.5em;
}
