header {
	margin: 0 auto;
}

header.user {
    background: url(https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg),linear-gradient(-30deg,#5855b0,#a79cfb);
	padding: 3em;
	margin: 0;
}

header.user h1 {
	font-size: 3em;
	font-weight: 700;
}

header.user h1 > span {
	color: white;
	font-weight: 900;
}

header.user p {
	font-size: 1.3em;
	font-weight: 700;
	color: #002b37;
	width: 30em;
	padding: 0;
	margin-bottom: 1.5em;
}

header.title h1 {
	text-align: center;
}

nav:first-of-type {
    display: flex;
    color: #fff;
    /* margin: 1em 0; */
}

nav:first-of-type > img {
    max-width: 2em;
}

nav:first-of-type ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: #000;
}

nav:first-of-type li {
    align-items: center;
    ALIGN-CONTENT: center;
    width: 100%;
    position: relative;
}

nav:first-of-type li a {
    display: flex;
    padding: 16px 40px;
    align-items: center;
    text-decoration: none;
    color: #002b37;
}

nav:first-of-type li img {
    max-width: 2em;
    margin: 0 16px 0px 0;
}

nav:first-of-type li:hover {
    background-color: #E4E4E4;
}


nav.detail-nav a {
    padding: 1em 1em;
    text-decoration: none;
    color: #fff;
    background-color: #FFFFFF;
    margin: 0 1em;
    border-radius: 1em;
    color: #FF5661;
    font-weight: bold;
}