#Layer_1 {
    width: 2em;
    margin-left: 0.5em;
}

main ~ a[href$="gast"] {
	text-align: right;
	margin: 2em 3em 0 0;
}

main[id^="intro"] {
	display: flex;
	flex-direction: row;
	align-items: center;
}

main[id^="intro"] > section {
	min-width: 20em;
	max-width: 30em;
	margin-right: 5em;
	padding: initial;
}

main[id^="intro"] > section div {
	max-height: 20em;
	overflow-y: scroll
}

main[id^="intro"] > section h2 {
	font-size: 2.5em;
	margin-bottom: 0.75em;
}

main[id^="intro"] > section p {
	padding: initial;
	margin: 2em 4em 2em 0;
}

main[id^="intro"] > section p:first-child {
	margin-top: 0;
}

.overslaanKnop {
    font-weight: 300;
    border-radius: 0.5em;
    background-color: #fb5258;
	border-bottom: solid 0.25em #a8191e;
	margin-bottom: 4em;
}

#introPage {
    margin-top: 1em;
}

#start > header > div > h1#introPageHeader {
    max-width: 20em;
    margin-top: 2em;
}

.centerIntroPages {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#start > header.designHead {
    margin-top: 0;
    min-height: 18.75em;
}

#start > header.designHead > div{
    margin: 3em auto;
    color: gold;
}

#start > header.designHead > div > h1{
    margin-bottom: .3em;
}