#overview {
    display: flex;
    color: #fff;
}
#overview main {
    padding: 0;
    position: relative;
    margin: unset;
    max-width: unset;
    width: calc(100% - 400px);
}
#overview main>div {
    padding: 5em;
    text-align: left;
}
#overview h1 {
    color: #002B37;
    text-align: left;
    font-size: 3em;
}
#overview h1 > strong {
    color: #fff;
    text-align: left;
}


.overview-info {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    background: url(https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg),linear-gradient(-30deg,#5855b0,#a79cfb);
    border-bottom: .15em solid #4a2a58;
    width: 100%;
    margin: 0;
    
}
.overview-info p {
    font-size: 1.3em;
    color: #002B37;
    font-weight: bold;
}

/* plugins */

.plugins-list {
    display: none;
}

.plugins-list > h2{
    margin-bottom: 1em;
    padding: 1em 0.2em;
    display: flex;
}

.plugins-list > h2:before {
    content: "";
    display: inline-block;
    margin: 0 16px 0 0;
    height: 32px;
    width: 7px;
    border-radius: 10px;
    background: #ff445b;
}
.plugins-list ul {
    display: flex;
    flex-direction: row;
    align-items: inherit;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 1em;
    margin-bottom:2em ;
}
.plugins-list ul li:hover {
    border-color: #FB5258;
}
.plugins-list ul li {
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 14.8em;
    position: relative;
    text-align: center;
    border: 2px solid transparent;
    background-color: #fff;
    margin-bottom: .7em;
    transition: .3s ease 0s;
    padding: 1em;
    margin-right: 1em;
    border-radius: 1em;
    height: auto;
    box-shadow: 6px 12px 22px 0 rgba(0,0,0,.57);
}

.plugins-list ul li img {
    width: 8em;
    margin: auto;
    padding: 1em;
}

.plugins-list ul li a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: transparent;
    text-indent: -9999px;
}

.plugins-list ul li h2 {
    color: #000;
}

#webtoolsmap {
    height: 37.5em;
}

#webtoolsmap iframe {
    width: 100%;
}

.btnFilters {
    border: none;
    color: #151513;
    /*background-color: #151513;*/
    background-color: #cccccc;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}


.activeState, #overzichtfilters > button:hover {
    color: #fff;
    background-color: #151513;
}

#overzichtfilters {
    margin-bottom: 1em;
}

#mapid {
    min-height: 37.5em;
}


.localfocusvisual {
    padding: unset;
    min-height: calc(100vh - 31vh);
    margin-bottom: 0;
}
/****************************/
.plugins-list {
    padding-top: 1em !important;
}
#overview main #toggleMenu {
    position: absolute;
    right: 0;
        padding: 1em;
}
.plugins-list hr {
    height: 0.4em;
    background-color: #002B37;
    margin: 4em 0;
}


svg.lfpoint.lfmarker g {
    fill: #FF445c;
}