#plugin2 main {
    padding-top: 0px;
    position: relative;
    margin: unset;
    max-width: unset;
    width: calc(100% - 400px);
    margin-left: unset;
    margin-right: unset;
    padding: 0;
}
#plugin2 main > ul {
    background: url(https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg),linear-gradient(-30deg,#5855b0,#a79cfb);
    padding: 6em 1em;
}
#plugin2 main ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
}
#plugin2 main #info-img img {
width: 15em;
}
#plugin2 main ul li {
    padding: 1em 2em;
    color: #fff;
    position: relative;
}
#plugin2 main ul li h2 {
    color: #fff;

}
#plugin2 main ul #info p:last-child{
padding: 2em;
}
#plugin2 main ul #info button {
    padding: 1em;
    background-color: #FB5258;
    margin: 1em 0;
    border-radius: 1em;
    color: #FFF;
    text-decoration: none;
    width: auto;
    text-align: center;
}

#plugin2 section.dataset {
    padding: 3em;
 
}
#plugin2 section.dataset > h2{
    text-align: center;
    padding-bottom:2em ;
 
}
#plugin2 section.dataset li {
        padding: 1em;
        margin-bottom: 2em;
        box-shadow: 10px 12px 34px 0 rgba(124,118,211,.17);
        color: #000;
}
#plugin2 section.dataset li {
    padding: 1em;
    margin-bottom: 2em;
    box-shadow: 10px 12px 34px 0 rgba(124,118,211,.17);
    color: #000;
}
#plugin2 section.dataset li h2 {
    color: #000;
    text-align: left;
    padding: 0.4em 1em .3em;
    display: flex;
}
#plugin2 section.dataset li h2:before {
    content: "";
    display: inline-block;
    margin: 0 16px 0 0;
    height: 32px;
    width: 7px;
    border-radius: 10px;
    background: #ff445b;
}
/*********