.sidebar {
    background-color: #f6f6f6;
    color: #000;
    position: fixed;
    z-index: 3;
    overflow-y: scroll;
    top: 0;
    right: 0;
    width: calc(100% - 15em);
    background: #f6f6f6;
    max-width: 400px;
    height: 100%;
    max-width: 400px;
    height: 100%;
    padding: 0em;

        -webkit-box-shadow: 0 0 32px rgba(53,47,122,.5);
        box-shadow: 0 0 32px rgba(53,47,122,.5);

}

.profile img {
    width: 5em;
    padding: 1em;
    border: 2px solid #002b37;
    border-radius: 100%;
}

.profile {
    z-index: 999;
    color: #000;
    width: 100%;
    text-align: center;
    padding-bottom: 5em;
    padding: 2em;
}

.profile h3 {
    color: #000;
    padding: 0;
    margin: 0;
}

.statistieken, .ranklijst {
    text-align: center;
}

.sidebar .chat {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 2em;
}
.sidebar iframe {
    width: 100%;
    margin: auto;
    box-shadow: rgba(0,0,0,.45) 2px 4px 22px;
    height: 20em;
}

.sidebar .panel {
    padding: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1.5px solid #002b37;
}
.sidebar .chat h3 {
    padding-bottom: 1.5em;
    display: flex;
    text-align: left;
}
.sidebar .accordion {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 7px 18px;
    background-color: #fff;
    border-bottom: 1.5px solid #002b37;
}
.sidebar .accordion > strong {
    display: flex;
    flex-direction: column;
}

.sidebar .accordion>strong img {
    width: 2.6em;
    height: 2.3em;
}
.sidebar .missions {
    padding: 0em 0 2em;
}
.sidebar .missions li a {
    display: flex;
    padding: 16px 40px;
    align-items: center;
    text-decoration: none;
    color: #002b37;
}
.sidebar .missions li a:hover {
    background-color: #e4e4e4;

}

.sidebar .missions li img {
    max-width: 2em;
    margin: 0 16px 0 0;
}
.sidebar .missions h3 {
    padding: 1em 1em 0.3em;
    display: flex;
    text-align: left;
}

.sidebar .panel {
    width: 100%;
}
/* .sidebar .missions li a:visited {
    color: blue;
} */