#start > header {
	width: 100%;
	margin: 0.5em auto 0 auto;
	background: url("https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg"),linear-gradient(-30deg, #5855b0, #a79cfb);
}

#start > header div {
	margin: 0 auto;
	max-width: 32em;
}

#start > header h1 {
	color: #000549;
	max-width: 8em;
	/*margin: 0 auto 0 2em;*/
	font-size: 3.5em;
	font-weight: 700;
	text-align: center;
	margin-bottom: 0.5em;
}

#start header h1 ~ p {
	/*margin: 1.25em 0 0 1.25em;*/
	margin: 0;
	max-width: 30em;
	font-weight: lighter;
	/*font-style: oblique;*/
	color: #000549;
	line-height: 2em;
	/*text-decoration: underline 0.2em #fe9f9f;*/
	/*text-underline-offset: 0.4em;*/
	text-align: center;
}

#start h1 ~ svg {
	fill: #feebc0;
	position: absolute;
	margin-top: -9.25em;
	max-width: 22em;
	z-index: -2;
}

#start main.choose {
	max-width: 60em;
	padding: initial;
	margin-top: 8em;
	margin-top: calc(5vh * 3);
}

#start main.choose > p {
	text-align: center;
	margin: 0 auto;
}

#start main.choose > p button {
	border-radius: 0.5em;
	background-color: #fb5258;
	border-bottom: solid 0.25em #a8191e;
	margin-bottom: 4em;
}

#start main.choose > p button:last-of-type::first-letter {
	text-transform: capitalize;
}

#start main.choose > p a:focus button, main.choose > p a:hover button {
	background-color: #484f97;
}

/* #start main.choose > p span {
	position: absolute;
	left: -999em;
	top: -999em;
} */

#voordelen {
	display: flex;
	margin-bottom: 5em;
}

#voordelen > span {
	text-align: center;
}
#voordelen > span:nth-child(2) {
	margin-left: 5em;
}

#voordelen p {
	color: #7d7d7d;
	text-transform: capitalize;
}

/*.kopje {*/
/*	text-transform: uppercase;*/
/*	color: #000;*/
/*	font-weight: bold;*/
/*	font-size: 0.9em;*/
/*}*/

#voordelen > span p.kopje {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 0.9em;
	margin-bottom: 1.5em;
}

