html {
	scroll-behavior: smooth;
}
#start>nav {
    position: absolute;
    z-index: 9;
    width: 100%;
    padding: 2em;
    margin: 0 auto;
}
#start>nav ul li:hover{
	background-color: transparent;
}
#start>nav ul li img {
    max-width: 15em;
}
#start>nav ul a:hover {
    color: #000;
}
#start>nav ul a {
    color: #fff;
    font-weight: 700;
    font-size: 1.4em;
    transition: 0.3s;
}
#start>nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90em;
    margin: 0 auto;
}
#start>nav ul li {
    align-items: left;
    ALIGN-CONTENT: left;
    width: auto;
    position: relative;
    color: #fff;
}
#start main>section:nth-of-type(1) {
    width: 100%;
    background: url(https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg),linear-gradient(-30deg,#5855b0,#a79cfb);
    min-height: 100vh;
	max-width: unset;
	padding-top: calc(100vh - 70vh);

}


#start main {
    padding: initial;
	max-width: 100% !important;
	margin:unset;
	margin-top:unset;
	color:#fff;
	
}

#start main ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    color: #000;
    border-radius: 2em;
    height: auto;
    min-width: auto;
    max-width: 90em;
    height: auto;
}

#start main ul #info {
	padding: 1em;
    color: #fff;
	position: relative;
	    width: 50%;
}

#start main ul li p:first-child {
    font-size: 1.7em;
}
#start main ul li:last-child p {
    margin: 0 auto;
    text-align: center;
}
#start main ul li img {
    margin: 0 auto;
}
#start main ul li h1 {
	color: #fff;
	text-align: left;
	font-size: 3.125rem;

}
#start main ul #info p:last-child {
    display: flex;
    justify-content: start;
}

#start main ul li a {
	padding: 1em;
	background-color: #fff;
    border-bottom: solid .25em rgb(223, 223, 223);
	min-width: 12em;
    margin-right: 0;
    border-radius: 1em;
    color: #fb5258;
    text-decoration: none;
    width: auto;
	text-align: center;
	font-weight: bold;
	transition: 0.3s ease-in-out 0s;
	font-size: 1.2em;
}
#start main ul li a:hover {
	filter: grayscale(0.5);


}
#start main ul li a:first-child {
    padding: 1em;
	background-color: #fb5258;
    border-bottom: solid .25em #a8191e;
    margin-right: 0;
    border-radius: 1em;
    color: #fff;
    text-decoration: none;
    width: auto;
    text-align: center;
}

#start main section:nth-of-type(2) {
    padding: 4em 0;
}
/* #start section {
	height: 100vh;
} */

#usp main ul {
	padding: 1em;
    color: #fff;
	position: relative;
        width: 100%;
        justify-content: space-between;
}
#usp>h2 {
    padding: 1em 1em 2em;
    text-align: center;
    font-size: 2em;
}
#usp ul li h2 {
	text-align: left;
	padding:1em 0;
}
#usp ul li img {
	width: 3em;
	height: 2.5em;
}
#start #usp ul {
    margin-top: 3em;
}
#start #usp ul li {
    width: 33%;
    padding: 1em;
}
#start #usp ul li p {
	text-align: left;
}
section#dev {
    background: url(https://wijzer.amsterdam/dist/img/footer-pattern.ea88741c.svg),linear-gradient(278deg,#005668,#002b37);
    text-align: center;
    max-width: 100%;
    padding: 10em 2em ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#start #footerDevelopers {
    background: url(https://wijzer.amsterdam/dist/img/footer-pattern.ea88741c.svg),linear-gradient(278deg,#005668,#002b37);
    width: 100%;
    padding: 1em 5em;
    color: #fff;
    background: #ff445b;
}

section#dev>h2 {
    color: #fff;
    font-size: 2em;
    padding-bottom: 0.6em;
}
section#dev > p:nth-of-type(2) {
    padding: 3em;
}
section#dev > p a {
    padding: 1em;
	background-color: #fff;
    border-bottom: solid .25em rgb(223, 223, 223);
	min-width: 12em;
    margin-right: 0;
    border-radius: 1em;
    color: #fb5258;
    text-decoration: none;
    width: auto;
	text-align: center;
	font-weight: bold;
	transition: 0.3s ease-in-out 0s;
	font-size: 1.2em;
	margin: 0;
}
