#start > header {
	max-width: 40em;
	margin: 4em auto 0 auto;
}

#start > header div {
	margin: 0 auto;
	max-width: 22em;
}

#start > header h1 {
	color: #000549;
	max-width: 8em;
	margin: 0 auto 0 2em;
}

#start header h1 ~ p {
	margin: 1.25em 0 0 1.25em;
	max-width: 30em;
	font-weight: 500;
	font-style: oblique;
	color: #000549;
	line-height: 2em;
	text-decoration: underline 0.2em #fe9f9f;
	text-underline-offset: 0.4em;
}

#start h1 ~ svg {
	fill: #feebc0;
	position: absolute;
	margin-top: -9.25em;
	max-width: 22em;
	z-index: -2;
}

#start main.choose {
	max-width: 60em;
	padding: initial;
	margin-top: 8em;
	margin-top: calc(5vh * 5);
}

#start main.choose > p {
	text-align: center;
	max-width: 14em;
	margin: 0 auto;
}

#start main.choose > p button {
	border-radius: 0.5em;
	background-color: #7a84dc;
	border-bottom: solid 0.25em #9cb3dd;
	margin-bottom: 4em;
}

#start main.choose > p button:last-of-type::first-letter {
	text-transform: capitalize;
}

#start main.choose > p a:focus button, main.choose > p a:hover button {
	background-color: #484f97;
}

#start main.choose > p span {
	position: absolute;
	left: -999em;
	top: -999em;
}