<!DOCTYPE html>
<html lang="nl">
<%- include ('../partials/head.ejs') %>

<body id="start" class="center">
	<header>
		<div>
		<h1>Welkom bij de Digi-wijzer</h1>
		<svg viewBox="0 0 50 37.5">
			<path d="M 4.3649019,12.421338 C 15.628181,-6.8820965 45.502078,-1.3384348 49.423002,13.08504 51.946814,23.378534 45.854753,29.488522 37.700104,32.175938 28.108627,35.336882 25.196057,28.801633 16.899196,30.256401 7.8966472,31.800729 7.2138604,38.737308 2.3195774,37.306956 -1.8145461,35.84971 0.01637934,20.150553 4.3649019,12.421338 Z" />
		</svg>
		<p>Hier leer hoe je veilig het internet kan gebruiken.</p>
	</div>
	</header>
	<main class="choose">
		<p><a href="/login"><button>Gebruik een profiel</button></a><span>of</span><a href="/gast"><button>ga verder als gast</button></a><span>.</span></p>
	</main>
</body>
</html>