<!DOCTYPE html>
<html lang="nl">
<%- include ('../partials/head.ejs') %>

<body id="start" class="centerIntroPages">
	<nav>
		<ul>
			<li><img src="../../source/pictures/logo.png" alt=""></li>
			<li>
				<a href="/login">login</a>
			</li>
		</ul>
	</nav>

	<main class="choose">
		<section>

			<ul>
				<li id="info">
					<p>Leer het web kennen</p>
					<h1>
						Met Digi-wijzer leer je hoe de digitale wereld werkt. </h1>
					<p>
						<a href="/intro">Probeer het nu</a>
						<a href="#usp">Meer informatie</a>
						
					</p>
				</li>

				<li id="info-img">
					<p><img src="../../source/pictures/platform1.png" alt=""></p>

				</li>
			</ul>

		</section>
		<section id="usp">

			<h2>Wat is Digi-wijzer</h2>
			<p>	<iframe width="100%" height="650px" src="https://www.youtube.com/embed/Ly460GwEjNo?controls=0" frameborder="0" allow="acceleroDoorer; encrypted-media; picture-in-picture" allowfullscreen></iframe></p>
			<ul>
				<li>
					<img src="../source/pictures/phishing_quiz.png"  alt="map icon">
					<h2>Speel en leer</h2>
					<p>Keuze uit verschillende spellen die je leert over Datagebruik, nepmails (Phishing).</p>
				</li>
				<li>
					<img src="../source/icons/map.svg"  alt="map icon">
					<h2>Verken Amsterdam</h2>
					<p>Verken Amsterdam en zie wat voor gegevens bedrijven van jou hebben verzamelt. </p>
				</li>
				<li>
					<img src="../source/icons/cup.svg"  alt="map icon">
					<h2>Verhoog je vaardigheden </h2>
					<p>Verdien punten door je digitale vaardigheden te verbeteren.</p>
				</li>

			</ul>

		</section>
		<section id="dev">

			<h2>Jouw eigen game toevoegen?</h2>
			<p>Help Digi-wijzer uit te breiden met jouw leerzame spel. </p>
			<p>
				<a href="#">Bekijk de voorwaarde</a>
			</p>



		</section>

	</main>
	<%- include ('../partials/devFooter.ejs') %>
</body>

</html>