<!DOCTYPE html>
<html lang="nl">
<%- include ('../partials/head.ejs') %>

<body id="start" class="centerIntroPages">

	<header class="designHead">
		<div>
			<h1>Welkom bij de Digi Wijzer</h1>
			<p>Hier leer hoe je veilig het internet kan gebruiken.</p>
		</div>
	</header>

	<main class="choose">
		<p><a href="/login"><button>Gebruik een profiel</button></a><span>of</span><a href="/intro"><button>ga verder als gast</button></a></p>

		<div id="voordelen">

			<span>
				<p class="kopje">mogelijkheden</p>
				<p>gebruik alle hulpmiddelen</p>
				<p>bewaar je score</p>
				<p>vergelijk met andere gebruikers</p>
			</span>

			<span>
				<p class="kopje">mogelijkeden</p>
				<p>gebruik alle hulpmiddelen</p>
			</span>

		</div>

	</main>
</body>
</html>