<!DOCTYPE html>
<html lang="nl">
<%- include ('../partials/head.ejs') %>

<body>
	<header>
		<h1>Welkom bij de digitale toolbox</h1>
		<p>Hier leer hoe je veilig het internet kan gebruiken.</p>
	</header>
	<main class="choose">
		<p><a href="/login"><button class="btn">Gebruik je gemaakte profiel</button></a><span>of</span><a href="/gast"><button class="btn">ga verder als gast</button></a>.</p>
	</main>
</body>
</html>