<!DOCTYPE html>
<html lang="nl">

<%- include ('../partials/head.ejs') %>

<body id="overview">


    <main id="toolkits">
        <div class="overview-info">
           
        <h1>Tijd om je <strong>digitale vaardigheden  </strong>  te verbeteren</h1>
            <p>Behulp van verschillende hulpmiddelen leren wij jou hoe de digitale wereld werkt.    </p>
        </div>

        <div id="toggleMenu">
            <button class="btnFilters activeState" id="btnKaartweergave">Kaart</button>
            <button class="btnFilters" id="btnLijstWeergave">Lijst</button>
        </div>

        <div class="plugins-list">
            <h2>voortgang</h2>
            <ul class="plugins">
                <li>
                    <img src="../source/pictures/bus.svg" alt="store">
                    <h2>1 .OV</h2>
                    <a href="/ov-detail">Meer info</a>
                </li>

                
                <li>

                    <img src="../source/pictures/quiz.svg" alt="store">
                    <h2>2. Phishing Quiz</h2>
                    <!-- <p>40/100p</p> -->
                    <a href="/quiz-detail">Meer info</a>
                </li>
                <li>

                    <img src="../source/pictures/oba.jpg" alt="store">
                    <h2>3. OBA</h2>
                    <a href="/oba-detail">Meer info</a>
                </li>


            </ul>
            <hr>
            <h2>phishing</h2>
            <ul class="plugins">

                
                <li>

                    <img src="../source/pictures/quiz.svg" alt="store">
                    <h2>Phishing Quiz</h2>
                    <!-- <p>40/100p</p> -->
                    <a href="/quiz-detail">Meer info</a>
                </li>


            </ul>
         
           
            <h2>wat weten de bedrijven over jou?</h2>
            <ul class="plugins">
                <li>
                    <img src="../source/pictures/bus.svg" alt="store">
                    <h2>OV</h2>
                    <a href="/ov-detail">Meer info</a>
                </li>
                <li>

                    <img src="../source/pictures/oba.jpg" alt="store">
                    <h2>OBA</h2>
                    <a href="/oba-detail">Meer info</a>
                </li>
            </ul>
        </div>


        <iframe class="localfocusvisual" frameborder="0" style="width:100%;overflow:hidden" src="https://localfocuswidgets.net/5ee22e85b2e20"></iframe>

        <%- include ('../partials/devFooter.ejs') %>

    </main>
    <%- include ('../partials/sidebar.ejs') %>


    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <script src="js/script.js"></script>
    <script src="js/map.js"></script>

</body>

</html>
