<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>


<body id="quiz">
    <%- include ('../../partials/nav.ejs') %>
    <main>
        <form action="/quiz-result" method="POST">
            <div id="question1">
                <section>
                    <img  src="../source/pictures/quiz/bank-mail.png" alt="">

                </section>
                <section>
                    <h2>Je opened je e-mail. en je krijgt een mail van je bank dat je accounts is
                        gedeactiveerd en wordt gevraagd om in te loggen om het weer te
                        activeren.
                    </h2>

                    <label for="question1-answer1" class="question1-answer1">
                        <input type="radio" id="question1-answer1" name="question1" data-score="0" value="0"
                            <% if (queries.question1 == "0") { %> <% } %>>
                        Dit is wel belangrijk de bank stuurt dit niet zomaar.
                    </label>
                    <label for="question1-answer2" class="question1-answer2">
                        <input type="radio" id="question1-answer2" name="question1" data-score="1" value="1"
                            <% if (queries.question1 == "1") { %> <% } %>>
                        Misschien toch contact opnemen met mijn bank en vragen waarom mijn pas is gedeactiveerd.</label>
                </section>
            </div>
            <div id="question2">
                <section>
                    <img src="../source/pictures/quiz/bank-home.png" alt="">
                </section>
                <section>
                    <h2>is dit een betrouwbare website?
                    </h2>             
                    <label for="question2-answer1" class="question2-answer1">
                        <input type="radio" id="question2-answer1" name="question2" data-score="0" value="0"
                            <% if (queries.question2 == "0") { %> <% } %>>
                        Ja </label>
                    <label for="question2-answer2" class="question2-answer2">
                        <input type="radio" id="question2-answer2" name="question2" data-score="0" value="1"
                            <% if (queries.question2 == "1") { %> <% } %>>

                        Nee </label>
                </section>
            </div>
            <div id="question3">
                <section>
                    <img src="../source/pictures/quiz/vraag1img.png" alt="">


                </section>
                <section>
                    <h2>Het wachtwoord van je werk account is verlopen. Er wordt gevraagd om een nieuwe te maken.
                    </h2>
                    <label for="question3-answer1" class="question3-answer1">
                        <input type="radio" id="question3-answer1" name="question3" data-score="0"
                            value="0"
                            <% if (queries.question3 == "0") { %> <% } %>>
                        Ik doe hetzelfde wachtwoord. Makkelijk te onthouden</label>
                    <label for="question3-answer2" class="question3-answer2">
                        <input type="radio" id="question3-answer2" name="question3" data-score="1" value="1"
                            <% if (queries.question3 == " 1") { %> <% } %>>
                        Ik maak wel een nieuwe wachtwoord
                    </label>
                </section>
            </div>
            <div id="question4">
                <section>
                    <img src="../source/pictures/quiz/book.png" alt="">


                </section>
                <section>
                    <h2>Mijn wachtwoorden in een boekje opschrijven is veilig
                    </h2>
                    <label for="question4-answer1" class="question4-answer1">
                        <input type="radio" id="question4-answer1" name="question4" data-score="0" value="0"
                            <% if (queries.question4 == "0") { %> <% } %>>
                        Is niet veilig</label>
                    <label for="question4-answer2" class="question4-answer2">
                        <input type="radio" id="question4-answer2" name="question4" data-score="1" value="1"
                            <% if (queries.question4 == "1") { %> <% } %>>
                        Dat klopt</label>
                </section>
            </div>
            <div id="question5">
                <section>
                    <img src="../source/pictures/quiz/update.png" alt="">


                </section>
                <section>
                    <h2>Je pc heeft een update melding wat ga je doen?
                    </h2>
                    <label for="question5-answer1" class="question5-answer1">
                        <input type="radio" id="question5-answer1" name="question5" data-score="1" value="1"
                            <% if (queries.question5 == "1") { %> <% } %>>
                        Meteen uitvoeren.</label>
                    <label for="question5-answer2" class="question5-answer2">
                        <input type="radio" id="question5-answer2" name="question5" data-score="0" value="0"
                            <% if (queries.question5 == " 0") { %> <% } %>>
                        Later uitvoeren.</label>
                </section>
            </div>
            <div id="question6">
                <section>
                    <img src="../source/pictures/quiz/ww1.png" alt="">

                </section>
                <section>
                    <h2>Is dit een goed wachtwoord om te gebruiken?
                    </h2>

                    <label for="question6-answer1" class="question6-answer1">
                        <input type="radio" id="question6-answer1" name="question6" data-score="1" value="1"
                            <% if (queries.question6 == "1") { %> <% } %>>
                        Ja </label>
                    <label for="question6-answer2" class="question6-answer2">
                        <input type="radio" id="question6-answer2" name="question6" data-score="0" value="0"
                            <% if (queries.question6 == " 0") { %> <% } %>>
                        Nee</label>
                </section>
            </div>
            <div id="question7">
                <section>
                    <img src="../source/pictures/quiz/bank-slot.png" alt="">

                </section>
                <section>
                    <h2>  Met een slotje in de adresbalk ben ik altijd veilig
                    </h2>

                    <label for="question7-answer1" class="question7-answer1">
                        <input type="radio" id="question7-answer1" name="question7" data-score="0" value="0"
                            <% if (queries.question7 == "0") { %> <% } %>>
                        Ja zeker </label>
                    <label for="question7-answer2" class="question7-answer2">
                        <input type="radio" id="question7-answer2" name="question7" data-score="1" value="1"
                            <% if (queries.question7 == " 1") { %> <% } %>>
                        Nee niet waar</label>
                </section>
            </div>
            <div id="question8">
                <section>
                    <img src="../source/pictures/quiz/pc-rans.png" alt="">

                </section>
                <section>
                    <h2>  Weet jij wat ransomware is?
                    </h2>

                    <label for="question8-answer1" class="question8-answer1">
                        <input type="radio" id="question8-answer1" name="question8" data-score="0" value="0"
                            <% if (queries.question8 == "0") { %> <% } %>>
                            Ja, software om bestanden veilig op te slaan. Een soort anti-virus  </label>
                    <label for="question8-answer2" class="question8-answer2">
                        <input type="radio" id="question8-answer2" name="question8" data-score="1" value="1"
                            <% if (queries.question8 == " 1") { %> <% } %>>
                            Ja, hiermee wordt je computer gegijzeld</label>
                </section>
            </div>
            <div id="question9">
                <section>
                    <img src="../source/pictures/quiz/pc-backup.png" alt="">

                </section>
                <section>
                    <h2>  Een back-up voorkomt dat ik gehackt wordt
                    </h2>

                    <label for="question9-answer1" class="question9-answer1">
                        <input type="radio" id="question9-answer1" name="question9" data-score="0" value="0"
                            <% if (queries.question9 == "0") { %> <% } %>>
                            Waar </label>
                    <label for="question9-answer2" class="question9-answer2">
                        <input type="radio" id="question9-answer2" name="question9" data-score="1" value="1"
                            <% if (queries.question9 == "1") { %> <% } %>>
                            Niet Waar</label>
                </section>
            </div>
            <div id="question10">
                <section>
                    <img src="../source/pictures/quiz/message.png" alt="">

                </section>
                <section>
                    <h2>  Je krijgt een bericht van je beste vriend. Hij vraagt of je geld kan overmaken voor een rekening die snel overgemaakt moet worden. Ga je hem helpen? 
                    </h2>

                    <label for="question10-answer1" class="question10-answer1">
                        <input type="radio" id="question10-answer1" name="question10" data-score="0" value="0"
                            <% if (queries.question9 == "0") { %> <% } %>>
                            Ja </label>
                    <label for="question10-answer2" class="question10-answer2">
                        <input type="radio" id="question10-answer2" name="question10" data-score="1" value="1"
                            <% if (queries.question9 == "1") { %> <% } %>>
                            Nee</label>
                </section>
            </div>
            <div class="form-container">
                <button id="submit" type="submit">Submit</button>
            </div>
        </form>
    </main>



  
    <script src="../js/quiz/quiz.js"></script>


</body>


</html>