<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>


<body id="quiz">
    <%- include ('../../partials/nav.ejs') %>
    <main>
        <div id="question1">
        <section>
            <img src="../source/pictures/quiz/ov.jpg" alt="">
            <h2>Scan met je OV-chipkaart
            </h2>
        </section>
        <form action="#question2">
            <label for="answer1-question1" class="answer1">
                <input type="radio" id="answer1-question1" name="question1" data-score="0" value="0">
                Persoonlijke OV-chipkaart.</label>
            <label for="answer2-question1" class="answer2">
                <input type="radio" id="answer2-question1" name="question1" data-score="0" value="1">
                Anonieme OV chipkaart</label>
        </form>
    </div>
    </main>




    <script src="../js/quiz/ov.js"></script>


</body>


</html>