<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>


<body id="quiz">
    <%- include ('../../partials/nav.ejs') %>
    <main>
        
        <div id="#question3">
            <section>
                <img src="../source/pictures/quiz/vraag3img.png" alt="">
                <h2>Er komt een man op je af. Hij zegt dat als je enquête invulled dat je kans maakt voor een nieuwe telefoon. Je hoeft alleen maar een qr code te scannen waar je de enquête kan invullen.  
                </h2>
            </section>
            <form action="#question3">
                <label for="answer1-question3">
                    <input type="radio" id="answer1-question3" name="question3" value="0" data-score="0">
                    Leuk heb wel een nieuwe telefoon nodig kan geen kwaad.</label>
                <label for="answer1-question3">
                    <input type="radio" id="answer2-question3" name="question3" value="1" data-score="1">
                    Nee dit kan te mooi om waar te zijn.</label>
            </form>
        </div>
    </div>
    
    </main>




    <script src="../js/quiz/quiz.js"></script>


</body>


</html>
