<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>


<body id="quiz">
    <!-- <%- include ('../../partials/nav.ejs') %> -->
    <main>
        <form action="/quiz-result" method="POST">
            <div id="question1">
                <section>
                    <img src="../source/pictures/quiz/bank-mail.png" alt="">

                </section>
                <section>
                    <h2 id="text-question1"> Je opened je e-mail. en je krijgt een mail van je bank dat je accounts is
                        gedeactiveerd en wordt gevraagd om in te loggen om het weer te
                        activeren.
                    </h2>
                    <h2 class="info-text-question1 hidden"> <strong>Uitleg: </strong>De bank vraagt nooit om in te loggen op Mijn Bank
                        (Internetbankieren) via een
                        sms of e-mail.
                    </h2>
                    <label for="question1-answer1" class="question1-answer1">
                        <input type="radio" id="question1-answer1" name="question1" data-score="0" value="0">
                        Dit is wel belangrijk de bank stuurt dit niet zomaar.
                    </label>

                    <label for="question1-answer2" class="question1-answer2">
                        <input type="radio" id="question1-answer2" name="question1" data-score="1" value="1">
                        Misschien toch contact opnemen met mijn bank en vragen waarom mijn pas is gedeactiveerd.</label>
                    <p><a href="#question2" class="next-question1 hidden">Volgende vraag <svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg></a></p>
                </section>
            </div>
            <div id="question2">
                <section>
                    <img src="../source/pictures/quiz/bank-home.png" alt="">
                </section>
                <section>
                    <h2 id="text-question2">is dit een betrouwbare website?
                    </h2>
                    <h2 class="info-text-question2 hidden"> <strong>Uitleg: </strong>Het lijkt op de pagina van je bank. maar het adres klopt niet
                        (mijne.bank.nl is geen pagina van de bank). Internetcriminelen maken een kopie van de pagina
                        zodat mensen het idee krijgen dat ze op de
                        juiste pagina zitten.
                    </h2>
                    <label for="question2-answer1" class="question2-answer1">
                        <input type="radio" id="question2-answer1" name="question2" data-score="0" value="0">
                        Ja </label>
                    <label for="question2-answer2" class="question2-answer2">
                        <input type="radio" id="question2-answer2" name="question2" data-score="0" value="1">

                        Nee </label>
                    <p><a href="#question3" class="next-question2 hidden">Volgende vraag <svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg></a></p>
                </section>
            </div>
            <div id="question3">
                <section>
                    <img src="../source/pictures/quiz/vraag1img.png" alt="">


                </section>
                <section>

                    <h2 id="text-question3">Het wachtwoord van je werk account is verlopen. Er wordt gevraagd om een
                        nieuwe te maken.
                    </h2>
                    <h2 class="info-text-question3 hidden"> <strong>Uitleg: </strong>Zorg dat je nooit twee keer hetzelfde wachtwoord gebruikt en
                        dat dit
                        wachtwoord moeilijk te raden is: gebruik tekens, cijfers en (HOOFD)letters.
                    </h2>
                    <label for="question3-answer1" class="question3-answer1">
                        <input type="radio" id="question3-answer1" name="question3" data-score="0" value="0">
                        Ik doe hetzelfde wachtwoord. Makkelijk te onthouden</label>
                    <label for="question3-answer2" class="question3-answer2">
                        <input type="radio" id="question3-answer2" name="question3" data-score="1" value="1">
                        Ik maak wel een nieuwe wachtwoord
                    </label>
                    <p><a href="#question4" class="next-question3 hidden">Volgende vraag <svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg></a></p>
                </section>
            </div>
            <div id="question4">
                <section>
                    <img src="../source/pictures/quiz/book.png" alt="">


                </section>
                <section>
                    <h2 id="text-question4">Mijn wachtwoorden in een boekje opschrijven is veilig
                    </h2>
                    <h2 class="info-text-question4 hidden"> <strong>Uitleg: </strong>
                        Een internetcrimineel kan daar niet bijkomen sinds het niet digitaal is bewaard. zo kan je ook je wachtwoorden onthouden.
                    </h2>
                    <label for="question4-answer1" class="question4-answer1">
                        <input type="radio" id="question4-answer1" name="question4" data-score="0" value="0">
                        Is niet veilig</label>
                    <label for="question4-answer2" class="question4-answer2">
                        <input type="radio" id="question4-answer2" name="question4" data-score="1" value="1">
                        Dat klopt</label>
                    <p><a href="#question5" class="next-question4 hidden">Volgende vraag <svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg></a></p>
                </section>
            </div>
            <div id="question5">
                <section>
                    <img src="../source/pictures/quiz/update.png" alt="">
                </section>
                <section>
                    <h2 id="text-question5">Je pc heeft een update melding wat ga je doen?
                    </h2>
                    <h2 class="info-text-question5 hidden"> <strong>Uitleg: </strong>Updates bevatten vernieuwde beveiliging van je apparaat.
                        Door de update uit te voeren heb je de veiligste software op je apparaat, zodat je minder
                        kans loopt om slachtoffer te worden van een virus of een hack. Doe dat daarom zo snel
                        mogelijk!
                    </h2>
                    <label for="question5-answer1" class="question5-answer1">
                        <input type="radio" id="question5-answer1" name="question5" data-score="1" value="1">
                        Meteen uitvoeren.</label>
                    <label for="question5-answer2" class="question5-answer2">
                        <input type="radio" id="question5-answer2" name="question5" data-score="0" value="0">
                        Later uitvoeren.</label>
                    <p><a href="#question6" class="next-question5 hidden">Volgende vraag <svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg></a></p>
                </section>
            </div>
            <div id="question6">
                <section>
                    <img src="../source/pictures/quiz/ww1.png" alt="">

                </section>
                <section>
                    <h2 id="text-question6">Is dit een goed wachtwoord om te gebruiken?
                    </h2>
                    <h2 class="info-text-question6 hidden"> <strong>Uitleg: </strong> Dit wachtwoord is moeilijk te raden door het gebruik van tekens, cijfers
                        ,(HOOFD)letters en is minimaal 12 tekens lang
                    </h2>
                    <label for="question6-answer1" class="question6-answer1">
                        <input type="radio" id="question6-answer1" name="question6" data-score="1" value="1">
                        Ja </label>
                    <label for="question6-answer2" class="question6-answer2">
                        <input type="radio" id="question6-answer2" name="question6" data-score="0" value="0">
                        Nee</label>
                    <p><a href="#question7" class="next-question6 hidden">Volgende vraag <svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg></a></p>
                </section>
            </div>
            <div id="question7">
                <section>
                    <img src="../source/pictures/quiz/bank-slot.png" alt="">

                </section>
                <section>
                    <h2 id="text-question7">Met een slotje in de adresbalk ben je altijd veilig
                    </h2>
                    <h2 class="info-text-question7 hidden"> <strong>Uitleg: </strong>Ook criminelen kunnen een beveiligde verbinding maken, en nog steeds een ‘foute’ website hebben. Het groene slotje betekent dus niet dat je altijd veilig bent.
                    </h2>

                    <label for="question7-answer1" class="question7-answer1">
                        <input type="radio" id="question7-answer1" name="question7" data-score="0" value="0">
                        Ja zeker </label>
                    <label for="question7-answer2" class="question7-answer2">
                        <input type="radio" id="question7-answer2" name="question7" data-score="1" value="1">
                        Nee niet waar</label>
                    <p><a href="#question8" class="next-question7 hidden">Volgende vraag <svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg></a></p>
                </section>
            </div>
            <div id="question8">
                <section>
                    <img src="../source/pictures/quiz/pc-rans.png" alt="">

                </section>
                <section>
                    <h2 id="text-question8">Wat denk jij wat ransomware is?
                    </h2>
                    <h2 class="info-text-question8 hidden"> <strong>Uitleg: </strong>Ransomware is software waarmee je bestanden worden
                        geblokkeerd totdat je een
                        betaling hebt gedaan.
                    </h2>
                    <label for="question8-answer1" class="question8-answer1">
                        <input type="radio" id="question8-answer1" name="question8" data-score="0" value="0">
                        Een software om bestanden veilig op te slaan.  </label>
                    <label for="question8-answer2" class="question8-answer2">
                        <input type="radio" id="question8-answer2" name="question8" data-score="1" value="1">
                        Een software om je computer te gijzelen</label>
                    <p><a href="#question9" class="next-question8 hidden">Volgende vraag <svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg></a></p>
                </section>
            </div>
            <div id="question9">
                <section>
                    <img src="../source/pictures/quiz/pc-backup.png" alt="">

                </section>
                <section>
                    <h2 id="text-question9">Een back-up voorkomt dat ik gehackt wordt
                    </h2>
                    <h2 class="info-text-question9 hidden"> <strong>Uitleg: </strong>Een back-up voorkomt (helaas!) niet dat je gehackt wordt.
                        Na een back-up heb je wél nog je bestanden, ook als je computer onbruikbaar is door een virus of
                        ransomware.

                    </h2>
                    <label for="question9-answer1" class="question9-answer1">
                        <input type="radio" id="question9-answer1" name="question9" data-score="0" value="0">
                        Waar </label>
                    <label for="question9-answer2" class="question9-answer2">
                        <input type="radio" id="question9-answer2" name="question9" data-score="1" value="1">
                        Niet Waar</label>
                    <p><a href="#question10" class="next-question9 hidden">Volgende vraag <svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg></a></p>
                </section>
            </div>
            <div id="question10">
                <section>
                    <img src="../source/pictures/quiz/message.png" alt="">

                </section>
                <section>
                    <h2 id="text-question10">Je krijgt een bericht van je beste vriend. Hij vraagt of je zo snel mogelijk geld wilt 
                        overmaken zodat hij/zij zijn rekeningen  
                        betalen. Ga je hem helpen?
                    </h2>
                    <h2 class="info-text-question10 hidden"> <strong>Uitleg: </strong>Dit is een Whatsapp-fraude.
                        Internetcriminelen doen zich voor als een bekende van je. en verzinnen een smoes om geld te
                        vragen.

                    </h2>

                    <label for="question10-answer1" class="question10-answer1">
                        <input type="radio" id="question10-answer1" name="question10" data-score="0" value="0">
                        Ja </label>
                    <label for="question10-answer2" class="question10-answer2">
                        <input type="radio" id="question10-answer2" name="question10" data-score="1" value="1">
                        Nee</label>
                    <p><a class="next-question10 hidden">Afronden <svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg></a></p>
                </section>
            </div>
            <div class="form-container">
                <button id="submit" type="submit">Submit</button>
            </div>
        </form>
    </main>


    <%- include ('../../partials/game-sidebar.ejs') %>

    <script src="../js/quiz/quiz.js"></script>


</body>


</html>