<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>

<body id="quiz-result">
    <%- include ('../../partials/nav.ejs') %>
    <main>
        <H1>Resultaat</H1>
        <section class="result">
            <ul>
                <% if(queries.question1 == "1") { %>
                <li class=correct>
                    <button class="accordion"><strong>Je opened je e-mail. en je krijgt een mail van je bank dat je
                            accounts is
                            gedeactiveerd en wordt gevraagd om in te loggen om het weer te
                            activeren.
                        </strong></button>
                    <div class="panel">
                        <P><I>Misschien toch contact opnemen met mijn bank en vragen waarom mijn pas is
                                gedeactiveerd.</I></P>
                        <hr>
                        <p> <b>Correct: De bank vraagt nooit om in te loggen op Mijn Bank (Internetbankieren) via een
                                sms of e-mail.</b></p>
                        <p> Heb je een phishingbericht ontvangen en niet geopend? Stuur een mail naar
                            valse-email@bank.nl .</p>
                    </div>


                </li>
                <% } else  { %>
                <li class=incorrect>
                    <button class="accordion"><strong>Je Je opened je e-mail. en je krijgt een mail van je bank dat je
                            accounts is
                            gedeactiveerd en wordt gevraagd om in te loggen om het weer te
                            activeren.
                        </strong></button>
                    <div class="panel">
                        <P><I>Dit is wel belangrijk de bank stuurt dit niet zomaar.</I></P>
                        <hr>
                        <p> <b>Incorrect: De bank vraagt nooit om in te loggen op Mijn Bank (Internetbankieren) via een
                                sms of e-mail.</b></p>
                        <p>
                            <ul>
                                <li>In het bericht zit meestal een urgente reden voor actie verwerkt. </li>
                                <li>Je wordt verzocht op een link te klikken. Ongemerkt kom je op een nep website, waar
                                    je gevraagd wordt in te loggen met je beveiligingscodes. </li>
                                <li>In het bericht zit meestal een urgente reden voor actie verwerkt. </li>
                            </ul>


                        </p>
                        <p> Heb je een phishingbericht geopend? meldt dit direct bij de Alarmlijn via 020 12 333 45..
                        </p>

                    </div>
                </li>
                <% } %>

                <% if(queries.question2 == "1") { %>
                <li class=correct>
                    <button class="accordion"><strong>Is dit een betrouwbare website?
                        </strong></button>
                    <div class="panel">
                        <P><I>Nee</I></P>
                        <hr>
                        <p> <b>Correct: Het lijkt op de pagina van je bank. maar de link klopt niet (Mijnebank is geen
                                pagina van de bank).</b> </p>
                        <p>internetcriminelen maken een kopie van de pagina zodat mensen het idee krijgen dat ze op de
                            juiste pagina zitten. </p>
                        <p>Twijfel je over de echtheid van een e-mail? Zoek dan zelf de contactgegevens van de
                            organisatie op en neem contact met ze op om te vragen of er een e-mail verstuurd is</p>
                    </div>
                </li>
                <% } else  { %>
                <li class=incorrect>
                    <button class="accordion"><strong>Is dit een betrouwbare website?
                        </strong></button>
                    <div class="panel">
                        <P><I>Ja</I></P>
                        <hr>
                        <p> <b>Incorrect: De link klopt niet (Mijnebank is geen pagina van de bank).
                            </b>internetcriminelen maken een kopie van de pagina zodat mensen het idee krijgen dat ze op
                            de juiste pagina zitten. </p>
                        <p>Twijfel je over de echtheid van een e-mail? Zoek dan zelf de contactgegevens van de
                            organisatie op en neem contact met ze op om te vragen of er een e-mail verstuurd is</p>
                    </div>
                </li>
                <% } %>

                <% if(queries.question3 == "1") { %>
                <li class=correct>
                    <button class="accordion"><strong>Het wachtwoord van je werk account is verlopen. Er wordt gevraagd
                            om een nieuwe te maken.
                        </strong></button>
                    <div class="panel">
                        <P><I>Ik maak wel een nieuwe wachtwoord</I></P>
                        <hr>
                        <p> <b>Correct: - Zorg dat je nooit twee keer hetzelfde wachtwoord gebruikt en dat dit
                                wachtwoord moeilijk te raden is: gebruik tekens, cijfers en (HOOFD)letters</b> </p>
                    </div>
                </li>
                <% } else  { %>
                <li class=incorrect>
                    <button class="accordion"><strong>Het wachtwoord van je werk account is verlopen. Er wordt gevraagd
                            om een nieuwe te maken.
                        </strong></button>
                    <div class="panel">
                        <P><I>Ik doe hetzelfde wachtwoord. Makkelijk te onthouden</I></P>
                        <hr>
                        <p> <b>Incorrect: - Zorg dat je nooit twee keer hetzelfde wachtwoord gebruikt en dat dit
                                wachtwoord moeilijk te raden is: gebruik tekens, cijfers en (HOOFD)letters</b> </p>
                    </div>
                </li>
                <% } %>
                <% if(queries.question4 == "1") { %>
                <li class=correct>
                    <button class="accordion"><strong>Mijn wachtwoorden in een boekje opschrijven is veilig
                        </strong></button>
                    <div class="panel">
                        <P><I>Dat klopt</I></P>
                        <hr>
                        <p> <b>Correct: - Als je dat boekje goed opbergt en je huis op slot doet, dan kan een
                                internetcrimineel daar niet bijkomen. Zo kan je toch je wachtwoorden onthouden.</b> </p>
                    </div>
                </li>
                <% } else  { %>
                <li class=incorrect>
                    <button class="accordion"><strong>Mijn wachtwoorden in een boekje opschrijven is veilig
                        </strong></button>
                    <div class="panel">
                        <P><I>Is niet veilig</I></P>
                        <hr>
                        <p> <b>Incorrect: - Als je dat boekje goed opbergt en je huis op slot doet, dan kan een
                                internetcrimineel daar niet bijkomen. Zo kan je toch je wachtwoorden onthouden.</b> </p>
                    </div>
                </li>
                <% } %>
                <% if(queries.question5 == "1") { %>
                <li class=correct>
                    <button class="accordion"><strong>Je pc heeft een update melding wat ga je doen?
                        </strong></button>
                    <div class="panel">
                        <P><I> Meteen uitvoeren.</I></P>
                        <hr>
                        <p> <b>Correct: Updates bevatten vernieuwde beveiliging van je apparaat. </b> </p>
                        <p>Door de update uit te voeren heb je de veiligste software op je apparaat, zodat je minder
                            kans loopt om slachtoffer te worden van een virus of een hack. Doe dat daarom zo snel
                            mogelijk!</p>
                    </div>
                </li>
                <% } else  { %>
                <li class=incorrect>
                    <button class="accordion"><strong>Je pc heeft een update melding wat ga je doen?
                        </strong></button>
                    <div class="panel">
                        <P><I> Later uitvoeren.</I></P>
                        <hr>
                        <p> <b>Correct: Updates bevatten vernieuwde beveiliging van je apparaat. </b> </p>
                        <p>Door de update uit te voeren heb je de veiligste software op je apparaat, zodat je minder
                            kans loopt om slachtoffer te worden van een virus of een hack. Doe dat daarom zo snel
                            mogelijk!</p>
                    </div>
                </li>
                <% } %>
                <% if(queries.question6 == "1") { %>
                <li class=correct>
                    <button class="accordion">
                        Is dit een goed wachtwoord om te gebruiken? (DqtiM@DL,n^neO)
                        </strong></button>
                    <div class="panel">
                        <P><I> Ja</I></P>
                        <hr>
                        <p> <b>Correct: dit wachtwoord is moeilijk te raden door het gebruik van tekens, cijfers
                                ,(HOOFD)letters en is minimaal 12 tekens lang</b> </p>
                    </div>
                </li>
                <% } else  { %>
                <li class=incorrect>
                    <button class="accordion">
                        Is dit een goed wachtwoord om te gebruiken? (DqtiM@DL,n^neO)
                        </strong></button>
                    <div class="panel">
                        <P><I> Nee</I></P>
                        <hr>
                        <p> <b>Incorrect: dit wachtwoord is moeilijk te raden door het gebruik van tekens, cijfers
                                ,(HOOFD)letters en is minimaal 12 tekens lang</b></p>
                        <p>
                            Het is wel moeilijk te onthouden. het beste is je wachtwoord in een boek te schrijven of een
                            passwoord manager programma gebruiken.
                        </p>
                    </div>
                </li>
                <% } %>
                <% if(queries.question7 == "1") { %>
                <li class=correct>
                    <button class="accordion">
                        Met een slotje in de adresbalk ben ik altijd veilig
                        </strong></button>
                    <div class="panel">
                        <P><I> Nee niet waar</I></P>
                        <hr>
                        <p> <b>Correct: Ook criminelen kunnen een beveiligde verbinding maken, en nog steeds een ‘foute’
                                website hebben. Het groene slotje betekent dus niet dat je altijd veilig bent. </b></p>
                        <p>
                            Let goed op de URL of je wel écht bij de website bent die je wil bezoeken. Tip:
                            checkjelinkje.nl
                        </p>
                    </div>
                </li>
                <% } else  { %>
                <li class=incorrect>
                    <button class="accordion">
                        Met een slotje in de adresbalk ben ik altijd veilig
                        </strong></button>
                    <div class="panel">
                        <P><I> ja zeker</I></P>
                        <hr>
                        <p> <b>Incorrect: Ook criminelen kunnen een beveiligde verbinding maken, en nog steeds een
                                ‘foute’ website hebben. Het groene slotje betekent dus niet dat je altijd veilig bent.
                            </b></p>
                        <p>
                            Let goed op de URL of je wel écht bij de website bent die je wil bezoeken. Tip:
                            checkjelinkje.nl
                        </p>
                    </div>
                </li>
                <% } %>
                <% if(queries.question8 == "1") { %>
                <li class=correct>
                    <button class="accordion">
                        Weet jij wat ransomware is?
                        </strong></button>
                    <div class="panel">
                        <P><I> Ja, hiermee wordt je computer gegijzeld</I></P>
                        <hr>
                        <p> <b>Correct: Ransomware is software waarmee je bestanden worden geblokkeerd totdat je een
                                betaling hebt gedaan.</b></p>
                        <p>Betaal nooit. Hiermee wordt deze vorm van internetcriminaliteit beloond en het biedt geen
                            garantie dat je weer toegang tot je bestanden krijgt.

                        </p>
                    </div>
                </li>
                <% } else  { %>
                <li class=incorrect>
                    <button class="accordion">
                        Weet jij wat ransomware is?
                        </strong></button>
                    <div class="panel">
                        <P><I> Ja, software om bestanden veilig op te slaan. Een soort anti-virus</I></P>
                        <hr>
                        <p> <b>Incorrect: Ransomware is software waarmee je bestanden worden geblokkeerd totdat je een
                                betaling hebt gedaan.</b></p>
                        <p>Betaal nooit. Hiermee wordt deze vorm van internetcriminaliteit beloond en het biedt geen
                            garantie dat je weer toegang tot je bestanden krijgt.

                        </p>
                    </div>
                </li>
                <% } %>
                <% if(queries.question9 == "1") { %>
                <li class=correct>
                    <button class="accordion">
                        Een back-up voorkomt dat ik gehackt wordt
                        </strong></button>
                    <div class="panel">
                        <P><I> Niet Waar</I></P>
                        <hr>
                        <p> <b>Incorrect: een back-up voorkomt (helaas!) niet dat je gehackt wordt.</b></p>
                        <p>Na een back-up heb je wél nog je bestanden, ook als je computer onbruikbaar is door een virus of ransomware.

                        </p>
                    </div>
                </li>
                <% } else  { %>
                <li class=incorrect>
                    <button class="accordion">
                        Een back-up voorkomt dat ik gehackt wordt
                        </strong></button>
                    <div class="panel">
                        <P><I> waar</I></P>
                        <hr>
                        <p> <b>Incorrect: een back-up voorkomt (helaas!) niet dat je gehackt wordt.</b></p>
                        <p>Na een back-up heb je wél nog je bestanden, ook als je computer onbruikbaar is door een virus of ransomware.

                        </p>
                    </div>
                </li>
                <% } %>
                <% if(queries.question10 == "1") { %>
                    <li class=correct>
                        <button class="accordion">
                            Je krijgt een bericht van je beste vriend. Hij vraagt of je geld kan overmaken voor een rekening die snel overgemaakt moet worden. Ga je hem helpen?
                            </strong></button>
                        <div class="panel">
                            <P><I> Ja</I></P>
                            <hr>
                            <p> <b>Incorrect: Dit is een Whatsapp-fraude.</b></p>
                            <p>Internetcriminelen doen zich voor als een bekende van je. en verzinnen een smoes om geld te vragen.
                            </p>
                            <p>
                                Hoe voorkom je WhatsApp-fraude
                                <ul>
                                    <li>Vraagt iemand om geld via WhatsApp? Bel die persoon dan op via een nummer uit je eigen adresboek. Een oplichter valt meteen door de mand.</li>
                                    <li>Kun je die persoon niet direct telefonisch bereiken: geen geld overmaken. Stel de 'bekende' een vraag waarop een oplichter écht geen antwoord kan weten. Vraag dus niet naar informatie die te raden is of die op social media zou kunnen staan.</li>
                                </ul>
                            </p>
                        </div>
                    </li>
                    <% } else  { %>
                    <li class=incorrect>
                        <button class="accordion">
                            Je krijgt een bericht van je beste vriend. Hij vraagt of je geld kan overmaken voor een rekening die snel overgemaakt moet worden. Ga je hem helpen? 
                            </strong></button>
                        <div class="panel">
                            <P><I> Nee</I></P>
                            <hr>
                            <p> <b>Correct: Dit is een Whatsapp-fraude.</b></p>
                            <p>Internetcriminelen doen zich voor als een bekende van je. en verzinnen een smoes om geld te vragen.
                            </p>
                            <p>
                                Hoe voorkom je WhatsApp-fraude
                                <ul>
                                    <li>Vraagt iemand om geld via WhatsApp? Bel die persoon dan op via een nummer uit je eigen adresboek. Een oplichter valt meteen door de mand.</li>
                                    <li>Kun je die persoon niet direct telefonisch bereiken: geen geld overmaken. Stel de 'bekende' een vraag waarop een oplichter écht geen antwoord kan weten. Vraag dus niet naar informatie die te raden is of die op social media zou kunnen staan.</li>
                                </ul>
                            </p>
                        </div>
                    </li>
                    <% } %>
            </ul>

        </section>

    </main>
    <script>
        const acc = document.getElementsByClassName("accordion");
        let i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                const panel = this.nextElementSibling;
                if (panel.style.height === "100%") {
                    panel.style.height = "0";
                } else {
                    panel.style.height = "100%";
                }
            });
        }
    </script>
    <!-- <script src="js/script.js"></script> -->
    <!-- <script src="js/printscript.js"></script> -->



    </script>
</body>


</html>