<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>

<body id="quiz-result">
    <main>
        <section class="result">
            <H1>Resultaat</H1>
            <div class="score-circle">
                <p><%= score.earnedPoints %> / <%= score.totalPoints %></p>
            </div>
            <% if(score.earnedPoints <= 50)  { %>
            <h2> Onvoldoende. Vraag in de chat als je er niet uitkomt. </h2>
            <p>
                <a href="/quiz-detail">Opnieuw proberen</a></p>
          
            <% } else if(score.earnedPoints == 60 )  { %>
            <h2> Net voldoende</h2>
        
            <% } else if(score.earnedPoints == 70 )  { %>
            <h2> Voldoende</h2>
              
            <% } else if(score.earnedPoints == 80 )  { %>
            <h2> Goed gedaan ruim voldoende </h2>
   
              
            <% } else if(score.earnedPoints == 90 )  { %>
            <h2> Net voldoende</h2>
  
              
            <% } else if(score.earnedPoints == 100 )  { %>
            <h2> Perfecte Score heel goed gedaan</h2>
       
              

            <% } %>
            <p>
                <a href="#tips">Kijk wat je er kan doen</a></p>
        </section>
        <section id="tips"class="tips">
            <h2>klik op de vragen om achter te komen wat je kan doen. </h2>
            <ul>
                <li>
                    <button class="accordion"><strong>
                            Een mail van mijn bank gekregen?
                        </strong></button>
                    <div class="panel">
                        <P>De bank vraagt nooit om in te loggen op Mijn Bank (Internetbankieren) via een
                            sms of e-mail.</p>
                        <p> Heb je een phishingbericht ontvangen en niet geopend? Alle banken hebben een speciale mail
                            waar je de phishingbericht kan sturen.</p>
                        <p>Voor meer informatie ga naar de webstie van uw bank of naar <a
                                href="https://www.veiligbankieren.nl/">https://www.veiligbankieren.nl/</a></p>
                    </div>


                </li>

                <li>
                    <button class="accordion"><strong>Tips voor wachtwoorden?
                        </strong></button>
                    <div class="panel">
                        <ul>
                            <li>Zorg dat je nooit twee keer hetzelfde wachtwoord gebruikt </li>

                            <li>Bedenk een wachtwoord die moeilijk te raden incombinatie met tekens, cijfers en
                                (HOOFD)letters</li>
                            <li>Schrijf je wachtwoorden in een boekje. internetcrimineel kunnen daar niet bijkomen. Zo
                                kan je toch je wachtwoorden onthouden. </li>

                        </ul>
                    </div>
                </li>

                <li>
                    <button class="accordion"><strong>Ik krijg een update voor mijn apparaat wat nu?
                        </strong></button>
                    <div class="panel">
                        <P>
                            Updates bevatten vernieuwde beveiliging van je apparaat.Door de update uit te voeren heb je
                            de veiligste software op je apparaat, zodat je minder
                            kans loopt om slachtoffer te worden van een virus of een hack. Doe dat daarom zo snel
                            mogelijk!</p>
                    </div>
                </li>



                <li>
                    <button class="accordion"><strong>
                          Hoe herken ik een Phishing adres?
                        </strong></button>
                    <div class="panel">
                        <P>Phishing berichten zijn vaak te herkennen aan een gemanipuleerde link. Meestal lijkt de
                            (verwijzing) link in het phishing bericht helemaal valide. Wanneer de gebruiker met de
                            cursor op de link gaat staan (dus niet klikken) komt de actuele link naar boven.
                            <p>
                                Mocht je nog steeds twijfelen. Probeer <a href="checkjelinkje.nl">checkjelinkje.nl</a>
                            </p>
                    </div>
                </li>
                <li>
                    <button class="accordion"> <strong>
                            Hoe voorkom je WhatsApp-fraude?
                        </strong></button>
                    <div class="panel">

                        <ul>
                            <li>Vraagt iemand om geld via WhatsApp? Bel die persoon dan op via een nummer uit je
                                eigen adresboek. Een oplichter valt meteen door de mand.</li>
                            <li>Kun je die persoon niet direct telefonisch bereiken: geen geld overmaken. Stel de
                                'bekende' een vraag waarop een oplichter écht geen antwoord kan weten. Vraag dus
                                niet naar informatie die te raden is of die op social media zou kunnen staan.</li>
                        </ul>

                    </div>
                </li>

            </ul>
            <div class="settings">
                <p><a href="/overzicht">Terug naar map</a></p>

            </div>
        </section>

    </main>

    <%- include ('../../partials/sidebar.ejs') %>

    <script>
        const acc = document.getElementsByClassName("accordion");
        let i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                const panel = this.nextElementSibling;
                if (panel.style.height === "100%") {
                    panel.style.height = "0";
                } else {
                    panel.style.height = "100%";
                }
            });
        }
    </script>
    <!-- <script src="js/script.js"></script> -->
    <!-- <script src="js/printscript.js"></script> -->



    </script>
</body>


</html>