<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>


<body id="detail">
    <%- include ('../../partials/nav.ejs') %>
    <main>
        <!-- <h1>Huidig score <br>
        40/100p</h1> -->
        <ul>
           
            <li id="info-img">
                <p><img src="../../source/pictures/quiz.svg"" alt=""></p>

            </li>
            <li id="info">
                <h2>
                    Phising Quiz
                </h2>
                <p>Test je kennis over Phising. Kan jij alle 10 vragen beantwoorden? </p>
                <a href="/quiz-game">Start quiz</a>
            </li>
        </ul>
       
    </main>




    <!-- <script src="js/script.js"></script> -->


</body>


</html>