#detail main {
  margin-top: calc(100vh - 80vh);
}

#detail main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#detail main ul li {
  padding: 1em 2em;
  color: #000;
  position: relative;
}

#detail main ul li h2 {
  color: #000;
}

#detail main ul li a {
  padding: 1em;
  background-color: #fb5258;
  position: absolute;
  margin: 1em 0;
  border-radius: 1em;
  color: #fff;
  text-decoration: none;
  width: auto;
  text-align: center;
}
@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-LightOblique.ttf") format("truetype");
  font-weight: 200;
  font-style: oblique;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Book.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-BookOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Roman.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Oblique.ttf") format("truetype");
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Heavy.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-HeavyOblique.ttf") format("truetype");
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: oblique;
}
footer {
  background-color: #fff;
  padding: 1em;
  text-align: center;
}

footer a {
  color: #000;
}

#footerDevelopers {
  background: #ff445b;
  width: 100%;
  padding: 1em;
  color: #fff;
}

#footerDevelopers a {
  color: #002b37;
}
input[type=password],
input[type=text] {
  padding: .75em .25em;
  font-size: .75em;
  margin-top: .5em;
}

input::placeholder {
  font-style: italic;
}

form label {
  display: flex;
  flex-direction: column;
  max-width: 14em;
  font-size: 1.5em;
  color: #fff;
  text-transform: capitalize;
  margin: auto;
}

form label:first-of-type {
  margin-bottom: .75em;
}

form[action="/login"] {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin: 0 auto;
  align-items: center;
}

form button {
  width: 12em;
  margin: 0 auto;
  margin-top: 5em;
  height: 5em;
  background-color: #d4e34b;
  border-radius: .25em;
  border: .25em solid rgba(0,0,0,0);
  transition: border ease-out .4s;
}

form button:focus,
form button:hover {
  background-color: #b0bd3e;
  border: .25em solid #fff;
}

input[type=password],
input[type=text] {
  padding: .75em .25em;
  font-size: .75em;
  margin-top: .5em;
}

input::placeholder {
  font-style: italic;
}

form label {
  display: flex;
  flex-direction: column;
  max-width: 14em;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #000;
  margin: auto;
}

form label:first-of-type {
  margin-bottom: .75em;
}

form[action="/login"] {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin: 0 auto;
  align-items: center;
}

form button {
  width: 12em;
  margin: 0 auto;
  margin-top: 5em;
  height: 5em;
  background-color: #d4e34b;
  border-radius: .25em;
  border: .25em solid rgba(0,0,0,0);
  transition: border ease-out .4s;
}

#uploadFoto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16em;
  min-width: 16em;
  background-color: #f4f9f9;
  border: 2px dashed #ccdce2;
}

#imagePlacholder {
  width: 8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
}

input[name=pluginIcon] {
  width: 100%;
  height: 100%;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
}

form button:focus,
form button:hover {
  background-color: #b0bd3e;
  border: .25em solid #fff;
}

input[type=password],
input[type=text] {
  padding: .75em .25em;
  font-size: .75em;
  margin-top: .5em;
}

input::placeholder {
  font-style: italic;
}

form label {
  display: flex;
  flex-direction: column;
  max-width: 14em;
  font-size: 1.5em;
  color: #fff;
  margin: auto;
}

form label:first-of-type {
  margin-bottom: .75em;
}

form[action="/login"] {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin: 0 auto;
  align-items: center;
}

form button {
  width: 12em;
  margin: 0 auto;
  margin-top: 5em;
  height: 5em;
  background-color: #d4e34b;
  border-radius: .25em;
  border: .25em solid rgba(0,0,0,0);
  transition: border ease-out .4s;
}

form button:focus,
form button:hover {
  background-color: #b0bd3e;
  border: .25em solid #fff;
}
* {
  box-sizing: border-box;
}

main {
  padding-top: 6em;
  position: relative;
}

body {
  margin: 0 auto;
  font-family: Avenir,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  min-height: 100vh;
}

ul {
  text-decoration: none;
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100%;
}

p {
  margin: 0;
  font-size: 16px;
  font-size: 1em;
  padding: 5px 0;
}

h1 a {
  color: #000;
  text-decoration: none;
}

button {
  border: none;
  color: #fff;
  background-color: #151513;
  padding: 1em 2em;
  font-size: 1em;
}

img {
  width: 100%;
}

button {
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: #000;
  font-weight: 700;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color: #000;
}

h3 {
  font-size: 1.2em;
  text-align: center;
}

p {
  font-family: Avenir,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
}

main,
section {
  max-width: 70em;
  margin: 0 auto;
  padding: 1em;
}

body main h1 {
  color: #000;
  text-align: center;
}

@media (min-width:30em) {
  body>header {
    margin: 25vh auto 0 auto;
  }

  main.choose>p:first-of-type {
    max-width: initial;
  }

  main.choose>p span:first-of-type {
    position: relative;
    top: initial;
    left: initial;
  }

  main.choose p a:last-of-type,
  main.choose>p span:first-of-type {
    margin-left: 2.5em;
  }
}

@media (min-width:30em) and (max-width:60em) {
  h1 {
    font-size: 40px;
    font-size: 2.5em;
  }

  body main>section {
    text-shadow: 0 0 #000;
  }

  body section {
    padding-bottom: 0;
  }

  header div>h1 {
    font-size: 2em;
  }
}

@keyframes colorshift {
  0% {
    background-position: 0 100%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 100%;
  }
}
header {
  margin: 0 auto;
}

header.user {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: url("https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg"),linear-gradient(-30deg,#5855b0,#a79cfb);
  border-bottom: .15em solid #4a2a58;
  width: 100%;
  margin: 0;
}

header h1 {
  font-weight: 900;
  margin: 0;
}

nav:first-of-type {
  display: flex;
  color: #fff;
  margin: 1em .75em;
}

nav:first-of-type>img {
  max-width: 2em;
}

nav:first-of-type ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #000;
}

nav:first-of-type li {
  margin: 0 8px;
  margin: 0 .5em;
}
#overview {
  display: flex;
  color: #fff;
}

#overview main {
  padding: 0;
  position: relative;
  margin: unset;
  max-width: unset;
  width: calc(100% - 400px);
}

#overview main>div {
  padding: 5em;
  text-align: left;
}

#overview h1 {
  color: #fff;
  text-align: left;
}

.overview-info {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  background: url("https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg"),linear-gradient(-30deg,#5855b0,#a79cfb);
  border-bottom: .15em solid #4a2a58;
  width: 100%;
  margin: 0;
}

.overview-info p {
  font-size: 1.3em;
}

.plugins-list>h2 {
  margin-bottom: 1em;
  padding: 1em .2em;
  display: flex;
}

.plugins-list>h2:before {
  content: "";
  display: inline-block;
  margin: 0 16px 0 0;
  height: 32px;
  width: 7px;
  border-radius: 10px;
  background: #ff445b;
}

.plugins-list ul {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  width: 100%;
  flex-wrap: wrap;
  justify-content: start;
  padding-top: 1em;
  margin-bottom: 2em;
}

.plugins-list ul li:hover {
  border-color: #fb5258;
}

.plugins-list ul li {
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 17.2em;
  position: relative;
  text-align: center;
  border: 2px solid transparent;
  background-color: #fff;
  margin-bottom: .7em;
  transition: .3s ease 0s;
  padding: 1em;
  margin-right: 1em;
  border-radius: 1em;
  box-shadow: 6px 12px 22px 0 rgba(0,0,0,.57);
}

.plugins-list ul li img {
  width: 9em;
  margin: auto;
  padding: 1em;
}

.plugins-list ul li a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: transparent;
  text-indent: -9999px;
}

.plugins-list ul li h2 {
  color: #000;
}

#webtoolsmap {
  height: 37.5em;
}

#webtoolsmap iframe {
  width: 100%;
}

.btnFilters {
  border: none;
  color: #fff;
  background-color: #151513;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

#overzichtfilters>button:hover,
.active {
  color: #151513;
  background-color: #fff;
}

#overzichtfilters {
  margin-bottom: 1em;
}

#mapid {
  min-height: 37.5em;
}

.settings {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 2em;
}

.settings p {
  padding: 1em;
  position: relative;
  margin: 3em;
}

.settings a {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #002b37;
  padding: 1.5em;
  margin: 1em;
  line-height: 0;
  color: #fff;
  text-decoration: none;
  border-radius: 2em;
  transition: .3s ease-in-out 0s;
}

.settings a:hover {
  background-color: #fb5258;
}

.localfocusvisual {
  padding: 5em;
  height: 39em;
}
#quiz-detail main {
  padding-top: calc(100vh - 90vh);
}

#quiz main {
  padding-top: calc(100vh - 75vh);
  max-width: 80em;
}

#quiz section img {
  width: 100%;
}

#quiz main>h2 {
  text-align: center;
  min-height: 2.5em;
}

#quiz section {
  text-align: center;
}

#quiz form section {
  text-align: center;
  width: 50%;
  margin: 0 2em;
}

#quiz form h2 {
  color: inherit;
  margin-bottom: 2em;
  font-size: 1.4em;
  padding-top: 1em;
  text-align: left;
  min-height: 8.8em;
  padding: 1em;
}

#quiz form h2:nth-of-type(2) {
  background-color: #fff;
}

#quiz #question {
  DISPLAY: flex;
  flex-direction: row;
}

#quiz form {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

#quiz form div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  color: #000;
  border-radius: 2em;
  flex-shrink: 0;
  height: auto;
  transform: scale(1);
  min-width: auto;
  transform-origin: center center;
  scroll-snap-align: start;
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

#quiz label {
  border-radius: 1em;
  background-color: #002b37;
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  position: relative;
  margin: 0 0 3em;
  font-size: 1em;
  color: #fff;
  min-height: 3em;
  max-width: 100%;
  text-align: center;
}

#quiz label input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.hidden {
  display: none;
}

#quiz-result main {
  padding: unset;
  position: relative;
  margin: unset;
  max-width: unset;
  width: calc(100% - 400px);
}

#quiz-result main .result {
  padding: 6em 2em;
  max-width: 100%;
  background: url("https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg"),linear-gradient(-30deg,#5855b0,#a79cfb);
}

#quiz-result main h1 {
  color: #fff;
}

#quiz-result section.result>h2 {
  text-align: center;
  color: #fff;
}

#quiz-result section.result .score-circle {
  width: 16em;
  height: 16em;
  margin: 3em auto;
  border-radius: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #003745;
}

#quiz-result section.result .score-circle p {
  font-size: 2em;
  line-height: 7.7em;
  font-weight: 700;
}

#quiz-result .tips {
  padding-top: 4em;
}

#quiz-result .tips h2 {
  text-align: center;
  padding-bottom: 3em;
}

#quiz-result .panel ul {
  list-style: circle;
}

#quiz-result .tips li .panel li {
  padding: 0;
  margin-bottom: 0;
}

#quiz-result .tips>ul>li {
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: 10px 12px 34px 0 rgba(124,118,211,.17);
  color: #000;
}

#quiz-result .tips a {
  color: #fb5258;
}

#quiz-result .tips li button {
  background-color: inherit;
  font-size: 1.1em;
  font-weight: 700;
  color: #000;
  padding: 1em .5em;
  cursor: pointer;
}

#quiz-result .tips li button strong {
  display: flex;
}

#quiz-result .tips li button strong:before {
  content: "";
  display: inline-block;
  margin: 0 16px 0 0;
  height: 20px;
  width: 7px;
  border-radius: 10px;
  background: #ff445b;
}

.accordion {
  background-color: inherit;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: 0;
  font-size: 15px;
  transition: .4s;
}

.accordion:hover,
.active {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: inherit;
  overflow: hidden;
  height: 0;
}

.panel hr {
  background-color: #000;
  border-color: #000;
}

svg.feather.feather-chevron-right {
  background-color: #ff445b;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  padding: .2em;
}

#quiz div>section:last-child p {
  height: 3em;
}

#quiz div>section:last-child p a {
  cursor: pointer;
}
.sidebar {
  background-color: #f6f6f6;
  color: #000;
  position: fixed;
  z-index: 3;
  overflow-y: scroll;
  top: 0;
  right: 0;
  width: calc(100% - 15em);
  background: #f6f6f6;
  max-width: 400px;
  height: 100%;
  max-width: 400px;
  height: 100%;
  padding: 2em;
}

.profile img {
  width: 6em;
  padding: 1em;
  background-color: #fb5258;
  border-radius: 100%;
}

.profile {
  z-index: 999;
  color: #000;
  width: 100%;
  text-align: center;
  padding-bottom: 5em;
}

.profile h2 {
  color: #000;
}

.ranklijst,
.statistieken {
  text-align: center;
}
#start>header {
  max-width: 40em;
  margin: 4em auto 0 auto;
}

#start>header div {
  margin: 0 auto;
  max-width: 22em;
}

#start>header h1 {
  color: #000549;
  max-width: 8em;
  margin: 0 auto 0 2em;
}

#start header h1~p {
  margin: 1.25em 0 0 1.25em;
  max-width: 30em;
  font-weight: 500;
  font-style: oblique;
  color: #000549;
  line-height: 2em;
  text-decoration: underline .2em #fe9f9f;
  text-underline-offset: .4em;
}

#start h1~svg {
  fill: #feebc0;
  position: absolute;
  margin-top: -9.25em;
  max-width: 22em;
  z-index: -2;
}

#start main.choose {
  max-width: 60em;
  padding: initial;
  margin-top: 8em;
  margin-top: calc(5vh * 5);
}

#start main.choose>p {
  text-align: center;
  margin: 0 auto;
}

#start main.choose>p button {
  border-radius: .5em;
  background-color: #7a84dc;
  border-bottom: solid .25em #9cb3dd;
  margin-bottom: 4em;
}

#start main.choose>p button:last-of-type::first-letter {
  text-transform: capitalize;
}

#start main.choose>p a:focus button,
main.choose>p a:hover button {
  background-color: #484f97;
}