main[id$=board],
main[id$=board] section {
  margin: 0;
  padding: 0;
  max-width: 70em;
  max-width: 74.25vw;
}

main[id$=board]>section {
  padding: 0;
  margin: 6em 0 0 4em;
}

main[id$=board]>section:first-of-type {
  margin-top: 4em;
}

main[id$=board] section:last-of-type {
  margin-bottom: 5em;
}

main[id$=board] section:last-of-type section:nth-last-child(n+2) {
  margin-bottom: 4em;
}

main[id$=board] h2:after {
  content: "";
  display: block;
  max-width: 10em;
  height: .2em;
  margin: .5em 0 1.25em 0;
  background-color: #ff445b;
  border-radius: 1em;
}

main[id$=board] h3 {
  text-align: left;
}

main[id$=board] div.info {
  background-color: #fad160;
  color: #000549;
  padding: 1.25em;
  max-width: 30em;
}

main[id$=board] button {
  background-color: #7a84dc;
  padding: .05em .5em .5em .5em;
  margin-left: .75em;
  margin-bottom: 1.5em;
  height: 1.5em;
  float: right;
}

main[id$=board] button svg {
  width: .5em;
}

main[id$=board] ol,
main[id$=board] ul {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

main[id$=board] section:nth-of-type(2) ol {
  max-width: 60em;
  padding: 3em 0;
  overflow-x: scroll;
}

main[id$=board] section:nth-of-type(2) ol li {
  min-width: 12em;
  min-height: 12em;
  max-width: 12em;
  max-height: 12em;
  margin: 0 2em;
}

main[id$=board] section:nth-of-type(2) ol li:last-of-type:after {
  content: "";
  display: block;
  width: 14em;
  height: .01em;
}

main[id$=board] ol li,
main[id$=board] ul li {
  width: 12em;
  height: 12em;
  border: #ececf7 solid .15em;
  border-radius: .75em;
  margin: 0 1em;
  box-shadow: .25em .75em 1.5em rgba(120,86,160,.4);
  transition: border .3s ease;
}

main[id$=board] ol li:hover,
main[id$=board] ul li:hover {
  border: #8d8eb9 solid .15em;
}

main[id$=board] ul li:first-child {
  margin-left: 0;
}

main[id$=board] ol a,
main[id$=board] ul a {
  display: inline-block;
  display: flex;
  text-align: center;
  max-height: 12em;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

main[id$=board] ol img,
main[id$=board] ul img {
  max-width: 6em;
  max-height: 6em;
  margin-top: 1.5em;
}

main[id$=board] ol a span,
main[id$=board] ul a span {
  display: inline-block;
  margin: .75em 0 1.5em 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 8em;
  max-height: 2em;
  font-size: 1.1em;
  font-weight: 700;
  color: #000549;
}

main[id$=board] section:nth-of-type(3) section:first-of-type li {
  width: 16em;
  height: 10em;
}

main[id$=board] section:nth-of-type(3) section:first-of-type span {
  max-width: 12em;
}

main[id$=board] section:nth-of-type(3) section:first-of-type img {
  width: 4em;
  height: 4em;
}

main[id$=board]>section section:last-of-type ol {
  display: initial;
}

main[id$=board]>section:first-of-type section:last-of-type li {
  width: initial;
  height: initial;
  border: initial;
  border-radius: initial;
  margin: initial;
  box-shadow: initial;
}

main[id$=board]>section:first-of-type div:not(.info) {
  margin: 1.5em 0;
}

main[id$=board]>section:first-of-type section {
  margin: initial;
  background-color: #7a84dc;
  color: #fff;
  padding: 2em;
}

main[id$=board]>section:first-of-type h3,
main[id$=board]>section:first-of-type h4 {
  font-weight: 900;
  color: #fff;
  font-size: 1.5em;
  margin-top: 0;
}

main[id$=board]>section:first-of-type div:not(.info) {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 1.5em;
}

main[id$=board]>section:first-of-type section:first-of-type {
  grid-area: 1/1;
}

main[id$=board]>section section:first-of-type svg:first-of-type {
  width: 10em;
}

main[id$=board]>section section:first-of-type p {
  font-size: 1.1em;
  font-weight: 500;
  white-space: nowrap;
}

main[id$=board]>section section:first-of-type span {
  display: block;
  font-size: 1.2em;
  font-weight: 700;
}

main[id$=board]>section section:first-of-type h3~p span {
  font-size: 1.75em;
  margin-top: .25em;
  text-indent: .4em;
}

main[id$=board]>section section:first-of-type svg:first-of-type path:last-of-type {
  fill: #000549;
}

main[id$=board]>section section:first-of-type svg:first-of-type path:first-of-type {
  fill: #c8fbf3;
}

main[id$=board]>section:first-of-type section:nth-of-type(2) {
  grid-area: 1/2 span;
}

main[id$=board]>section:first-of-type section:nth-of-type(2) span {
  font-size: 1.2em;
  font-weight: 700;
}

main[id$=board]>section:first-of-type section:nth-of-type(3) {
  grid-area: 2/3 span;
}

main[id$=board]>section:first-of-type section:last-of-type {
  grid-area: 2 span/4;
}

main[id$=board]>section section:first-of-type {
  max-width: 30em;
}

main[id$=board]>section section:first-of-type div:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#detail main {
  padding-top: calc(100vh - 75vh);
  position: relative;
  margin: unset;
  max-width: unset;
  width: calc(100% - 400px);
  margin-left: unset;
  margin-right: unset;
}

#detail main ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f6f6f6;
  color: #000;
  border-radius: 2em;
  height: auto;
  transform: scale(1);
  min-width: auto;
  width: 90%;
  height: auto;
}

#detail main ul li {
  padding: 2em 2em;
  color: #000;
  position: relative;
}

#detail main ul li h2 {
  color: #000;
}

#detail main ul li img {
  max-width: 20em;
  transform: scale(.7);
}

#detail main ul li p {
  padding-bottom: 2em;
}

#detail main ul li a {
  padding: 1em;
  background-color: #fb5258;
  border-bottom: solid .25em #a8191e;
  margin-right: 0;
  border-radius: 1em;
  color: #fff;
  text-decoration: none;
  width: auto;
  text-align: center;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.settings p {
  margin: 1em;
}

.settings p>a {
  padding: 1em;
  background-color: #fb5258;
  border-bottom: solid .25em #a8191e;
  margin-right: 0;
  border-radius: 1em;
  color: #fff!important;
  text-decoration: none;
  width: auto;
  text-align: center;
}
@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-LightOblique.ttf") format("truetype");
  font-weight: 200;
  font-style: oblique;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Book.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-BookOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Roman.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Oblique.ttf") format("truetype");
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Heavy.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-HeavyOblique.ttf") format("truetype");
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: Avenir;
  src: url("https://raw.githubusercontent.com/potyt/fonts/master/macfonts/Avenir/Avenir-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: oblique;
}
footer {
  background-color: #fff;
  padding: 1em;
  text-align: left;
}

footer a {
  color: #000;
}

#footerDevelopers {
  background: url("https://wijzer.amsterdam/dist/img/footer-pattern.ea88741c.svg"),linear-gradient(278deg,#005668,#002b37);
  width: 100%;
  padding: 1em 5em;
  color: #fff;
}

#footerDevelopers a {
  color: #fff;
  text-decoration: none;
}
input[type=password],
input[type=text] {
  padding: .75em .25em;
  font-size: .75em;
  margin-top: .5em;
}

input::placeholder {
  font-style: italic;
}

form label:first-of-type {
  margin-bottom: .75em;
}

form[action="/login"] {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin: 0 auto;
  align-items: center;
}

form button {
  width: 12em;
  margin: 0 auto;
  margin-top: 5em;
  height: 5em;
  background-color: #d4e34b;
  border-radius: .25em;
  border: .25em solid rgba(0,0,0,0);
  transition: border ease-out .4s;
}

form button:focus,
form button:hover {
  background-color: #b0bd3e;
  border: .25em solid #fff;
}

input[type=password],
input[type=text] {
  padding: .75em .25em;
  font-size: .75em;
  margin-top: .5em;
}

input::placeholder {
  font-style: italic;
}

form label {
  display: flex;
  flex-direction: column;
  max-width: 14em;
  font-size: 1.5em;
  color: #000;
  margin: auto;
}

form label:first-of-type {
  margin-bottom: .75em;
}

form[action="/login"] {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin: 0 auto;
  align-items: center;
}

form button {
  width: 12em;
  margin: 0 auto;
  margin-top: 5em;
  height: 5em;
  background-color: #d4e34b;
  border-radius: .25em;
  border: .25em solid rgba(0,0,0,0);
  transition: border ease-out .4s;
}

#uploadFoto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16em;
  min-width: 16em;
  background-color: #f4f9f9;
  border: 2px dashed #ccdce2;
}

#imagePlacholder {
  width: 8em;
  z-index: 1;
  position: absolute;
  cursor: pointer;
}

input[name=pluginIcon] {
  width: 100%;
  height: 100%;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
}

form button:focus,
form button:hover {
  background-color: #b0bd3e;
  border: .25em solid #fff;
}

input[type=password],
input[type=text] {
  padding: .75em .25em;
  font-size: .75em;
  margin-top: .5em;
}

input::placeholder {
  font-style: italic;
}

form label {
  display: flex;
  flex-direction: column;
  max-width: 14em;
  font-size: 1.5em;
  color: #fff;
  margin: auto;
}

form label:first-of-type {
  margin-bottom: .75em;
}

form[action="/login"] {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin: 0 auto;
  align-items: center;
}

form button {
  width: 12em;
  margin: 0 auto;
  margin-top: 5em;
  height: 5em;
  background-color: #d4e34b;
  border-radius: .25em;
  border: .25em solid rgba(0,0,0,0);
  transition: border ease-out .4s;
}

form button:focus,
form button:hover {
  background-color: #b0bd3e;
  border: .25em solid #fff;
}
* {
  box-sizing: border-box;
}

main {
  padding-top: 6em;
  position: relative;
}

body {
  margin: 0 auto;
  font-family: Avenir,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  min-height: 100vh;
}

ul {
  text-decoration: none;
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100%;
}

p {
  margin: 0;
  font-size: 16px;
  font-size: 1em;
  padding: 5px 0;
}

h1 a {
  color: #000;
  text-decoration: none;
}

button {
  border: none;
  color: #fff;
  background-color: #151513;
  padding: 1em 2em;
  font-size: 1em;
  font-family: Avenir,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: #000;
  font-weight: 700;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color: #000;
}

h3 {
  font-size: 1.2em;
  text-align: center;
}

p {
  font-family: Avenir,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
}

main,
section {
  max-width: 70em;
  margin: 0 auto;
  padding: 1em;
}

body main h1 {
  color: #000;
  text-align: center;
}

@media (min-width:30em) {
  body>header {
    margin: 25vh auto 0 auto;
  }

  main.choose>p:first-of-type {
    max-width: initial;
  }

  main.choose>p span:first-of-type {
    position: relative;
    top: initial;
    left: initial;
  }

  main.choose p a:last-of-type,
  main.choose>p span:first-of-type {
    margin-left: 2.5em;
  }
}

@media (max-width:960px) {
  #plugin2-result main .result {
    height: auto;
  }
}

@media (min-width:30em) and (max-width:60em) {
  h1 {
    font-size: 40px;
    font-size: 2.5em;
  }

  body main>section {
    text-shadow: 0 0 #000;
  }

  body section {
    padding-bottom: 0;
  }

  header div>h1 {
    font-size: 2em;
  }
}

@keyframes colorshift {
  0% {
    background-position: 0 100%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 100%;
  }
}
header {
  margin: 0 auto;
}

header.user {
  background: url("https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg"),linear-gradient(-30deg,#5855b0,#a79cfb);
  padding: 3em;
  margin: 0;
}

header.user h1 {
  font-size: 3em;
  font-weight: 700;
}

header.user h1>span {
  color: #fff;
  font-weight: 900;
}

header.user p {
  font-size: 1.3em;
  font-weight: 700;
  color: #002b37;
  width: 30em;
  padding: 0;
  margin-bottom: 1.5em;
}

header.title h1 {
  text-align: center;
}

nav:first-of-type {
  display: flex;
  color: #fff;
}

nav:first-of-type>img {
  max-width: 2em;
}

nav:first-of-type ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #000;
}

nav:first-of-type li {
  align-items: center;
  ALIGN-CONTENT: center;
  width: 100%;
  position: relative;
}

nav:first-of-type li a {
  display: flex;
  padding: 16px 40px;
  align-items: center;
  text-decoration: none;
  color: #002b37;
}

nav:first-of-type li img {
  max-width: 2em;
  margin: 0 16px 0 0;
}

nav:first-of-type li:hover {
  background-color: #e4e4e4;
}

nav.detail-nav a {
  padding: 1em 1em;
  text-decoration: none;
  color: #fff;
  background-color: #fff;
  margin: 0 1em;
  border-radius: 1em;
  color: #ff5661;
  font-weight: 700;
}
iframe~a[href$=gast] {
  margin-top: 4em;
}

main[id^=intro] {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  align-items: center;
}

main[id^=intro]>section {
  min-width: 20em;
  max-width: 30em;
  margin-right: 5em;
  padding: initial;
}

main[id^=intro]>section h2 {
  font-size: 2.5em;
  margin-bottom: .75em;
}

main[id^=intro]>section p {
  padding: initial;
  margin: 2em 4em 2em 0;
}

main[id^=intro]>section p:first-child {
  margin-top: 0;
}

main[id^=intro]>section~div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Layer_1 {
  width: 2em;
  margin-left: .5em;
}

.overslaanKnop {
  font-weight: 300;
  border-radius: .5em;
  background-color: #fb5258;
  border-bottom: solid .25em #a8191e;
}

#introPage {
  margin-top: 1em;
}

#start>header>div>h1#introPageHeader {
  max-width: 20em;
  margin-top: 2em;
}

.centerIntroPages {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#start>header.designHead {
  margin-top: 0;
  min-height: 18.75em;
}

#start>header.designHead>div {
  margin: 3em auto;
  color: gold;
}

#start>header.designHead>div>h1 {
  margin-bottom: .3em;
}

main.choose>p:nth-child(1)>a:nth-child(3):focus {
  background-color: #fb5258;
  color: red;
}
#overview {
  display: flex;
  color: #000;
  background-color: #eee;
}

#overview main {
  padding: 0;
  position: relative;
  margin: unset;
  max-width: unset;
  width: calc(100% - 400px);
}

#overview main>div {
  padding: 5em;
  text-align: left;
}

#overview h1 {
  color: #002b37;
  text-align: left;
  font-size: 3em;
}

#overview h1>strong {
  color: #fff;
  text-align: left;
}

.overview-info {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  background: url("https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg"),linear-gradient(-30deg,#5855b0,#a79cfb);
  border-bottom: .15em solid #4a2a58;
  width: 100%;
  margin: 0;
}

.overview-info p {
  font-size: 1.3em;
  color: #002b37;
  font-weight: 700;
}

.plugins-list {
  display: none;
}

.plugins-list>h2 {
  margin-bottom: 1em;
  padding: 1em .2em;
  display: flex;
}

.plugins-list>h2:before {
  content: "";
  display: inline-block;
  margin: 0 16px 0 0;
  height: 32px;
  width: 7px;
  border-radius: 10px;
  background: #ff445b;
}

.plugins-list ul {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  width: 100%;
  flex-wrap: wrap;
  justify-content: start;
  padding-top: 1em;
  margin-bottom: 2em;
}

.plugins-list ul li:hover {
  border-color: #fb5258;
}

.plugins-list ul li {
  list-style: none;
  color: #fb5258;
  display: flex;
  flex-direction: column;
  width: 12.8em;
  position: relative;
  text-align: center;
  border: 2px solid transparent;
  background-color: #fff;
  margin-bottom: .7em;
  transition: .3s ease 0s;
  padding: 1em;
  margin-right: 1em;
  border-radius: 1em;
  height: auto;
  border: 2px solid transparent;
  height: 12.8em;
  border-bottom: solid .25em #bdbcbc;
}

.plugins-list ul li img {
  width: 4em;
  margin: auto;
}

.plugins-list ul li a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: transparent;
  text-indent: -9999px;
}

.plugins-list ul li h2 {
  color: inherit;
}

#webtoolsmap {
  height: 37.5em;
}

#webtoolsmap iframe {
  width: 100%;
}

.btnFilters {
  border: none;
  color: #151513;
  background-color: #ccc;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

#overzichtfilters>button:hover,
.activeState {
  color: #fff;
  background-color: #151513;
}

#overzichtfilters {
  margin-bottom: 1em;
}

#mapid {
  min-height: 37.5em;
}

.localfocusvisual {
  padding: unset;
  min-height: calc(100vh - 31vh);
  margin-bottom: 0;
}

.plugins-list {
  padding-top: 1em!important;
}

#overview main #toggleMenu {
  position: absolute;
  right: 0;
  padding: 1em;
}

.plugins-list hr {
  height: .4em;
  background-color: #002b37;
  margin: 4em 0;
}

svg.lfpoint.lfmarker g {
  fill: #ff445c;
}

a.localFocusMarkerLinks {
  color: #ff445c;
}
#overview main>div#overviewModal {
  padding: 5em 15em;
}

#overviewModal {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

#overviewModal>div {
  width: 100%;
  background-color: #fff;
}

.overviewModalContent {
  padding: 1.5em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overviewModalContent>h2 {
  margin-bottom: 1em;
  text-align: center;
}

.overviewModalContent>p#introTextModal {
  margin-bottom: 2em;
}

.overviewModalContent>div>img {
  margin-bottom: 1.5em;
}

.overviewModalContent>p {
  color: #5855b0;
  margin-bottom: 1em;
}

.overviewModalContent>button,
a#btnModal3 {
  border-radius: .5em;
  background-color: #fb5258;
  border-bottom: solid .25em #a8191e;
}

a#btnModal3 {
  border: none;
  color: #fff;
  padding: 1em 2em;
  font-size: 1em;
  font-family: Avenir,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 700;
  border-radius: .5em;
  background-color: #fb5258;
  border-bottom: solid .25em #a8191e;
  text-decoration: none;
}

.hideModalelement {
  display: none;
}
#detail,
#plugin2 {
  background: url("https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg"),linear-gradient(-30deg,#5855b0,#a79cfb);
}

#plugin-2-detail main {
  padding-top: calc(100vh - 90vh);
}

#plugin2 main {
  padding-top: calc(100vh - 75vh);
  position: relative;
  margin: unset;
  max-width: unset;
  width: calc(100% - 400px);
}

#plugin2 section img {
  max-width: 22em;
  transform: scale(.7);
}

#plugin2 main>h2 {
  text-align: center;
}

#plugin2 section {
  text-align: center;
}

#plugin2 form h2 {
  color: inherit;
  font-size: 1.4em;
  padding-top: 1em;
  text-align: left;
  min-height: 8.8em;
  padding: 1em;
  padding-top: 3em;
}

#plugin2 form h2:nth-of-type(2) {
  background-color: #fff;
}

#plugin2 #question {
  DISPLAY: flex;
  flex-direction: row;
}

#plugin2 form {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 90%;
  margin: 0 auto;
}

#plugin2 form div {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f6f6f6;
  color: #000;
  border-radius: 2em;
  flex-shrink: 0;
  height: auto;
  transform: scale(1);
  min-width: auto;
  transform-origin: center center;
  scroll-snap-align: start;
  width: 100%;
  height: auto;
}

#plugin2 form .all-questions {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: unset;
}

#plugin2 label {
  margin-bottom: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  position: relative;
  margin: 0;
  font-size: 1.1em;
  color: #000;
  min-height: 4em;
  width: 100%;
  font-weight: 700;
  text-align: center;
}

#plugin2 form .all-questions input[type=checkbox i],
#plugin2 form .all-questions input[type=radio i] {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  margin: -.1em 1em;
  font-weight: 700!important;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #000;
  -webkit-appearance: none;
}

#plugin2 form .all-questions input[type=checkbox i]:checked,
#plugin2 form .all-questions input[type=radio i]:checked {
  background-color: #9289e7;
}

#plugin2 form .all-questions input[type=checkbox i]:focus,
#plugin2 form .all-questions input[type=radio i]:focus {
  outline-offset: 0;
  outline: 0;
}

.hidden {
  display: none;
}

#plugin2-result main {
  padding: unset;
  position: relative;
  margin: unset;
  max-width: unset;
  width: calc(100% - 400px);
}

#plugin2-result main .result {
  padding: 6em 2em;
  max-width: 100%;
  background: url("https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg"),linear-gradient(-30deg,#5855b0,#a79cfb);
  height: auto;
  padding-top: calc(100vh - 85vh);
  background-size: cover;
}

#plugin2-result main h1 {
  color: #fff;
}

#plugin2-result section.result>h2 {
  text-align: center;
  color: #fff;
}

#plugin2-result section.result .score-circle {
  width: 16em;
  height: 16em;
  margin: 3em auto;
  border-radius: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #003745;
}

#plugin2-result section.result .score-circle p {
  font-size: 2em;
  line-height: 7.7em;
  font-weight: 700;
}

#plugin2-result section.result>p {
  text-align: center;
  padding: 4em 1em 0;
}

#plugin2-result section.result>p a {
  padding: 1em;
  background-color: #fb5258;
  border-bottom: solid .25em #a8191e;
  margin-right: 0;
  border-radius: 1em;
  color: #fff;
  text-decoration: none;
  width: auto;
  text-align: center;
}

#plugin2-result section.result>p:last-child a {
  background-color: #fff;
  color: #fb5258!important;
  border-bottom: solid .25em #c5c5c5;
}

#plugin2-result .tips {
  padding-top: 4em;
}

#plugin2-result .tips h2 {
  text-align: center;
  padding-bottom: 3em;
}

#plugin2-result .panel ul {
  list-style: circle;
}

#plugin2-result .tips li .panel li {
  padding: 0;
  margin-bottom: 0;
}

#plugin2-result .tips>ul>li {
  padding: 2em 1em;
  margin-bottom: 2em;
  box-shadow: 10px 12px 34px 0 rgba(124,118,211,.17);
  color: #000;
}

#plugin2-result .tips a {
  color: #fb5258;
}

#plugin2-result .tips li button {
  background-color: inherit;
  font-size: 1.1em;
  font-weight: 700;
  color: #000;
  padding: 1em .5em;
  cursor: pointer;
}

#plugin2-result li strong {
  display: flex;
  font-size: 1.5em;
}

#plugin2 form section i {
  text-align: left;
  font-size: .6em;
}

#plugin2-result li strong:before {
  content: "";
  display: inline-block;
  margin: 0 16px 0 0;
  height: auto;
  width: 7px;
  border-radius: 10px;
  background: #ff445b;
}

.accordion {
  background-color: inherit;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: 0;
  font-size: 15px;
  transition: .4s;
}

.accordion:hplugin2er,
.active {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: inherit;
  overflow: hidden;
  height: 0;
}

.panel hr {
  background-color: #000;
  border-color: #000;
}

#plugin2 div>section:last-child p {
  text-align: right;
}

#plugin2 div>section:last-child p button {
  padding: 1em;
  background-color: #fb5258;
  border-bottom: solid .25em #a8191e;
  margin-right: 0;
  border-radius: 1em;
  color: #fff;
  text-decoration: none;
  width: auto;
  text-align: center;
  transition: .3s;
}

#plugin2 div>section:last-child p button:hover {
  background-color: #fa2c33;
  border-color: #fa2c33;
  border-bottom: solid .25em #a8191e;
}

#plugin2 form button {
  width: auto;
  margin-top: 0;
  height: auto;
  transition: border ease-out .4s;
  background-color: unset;
  padding: 0;
}
#detail,
#quiz {
  background: url("https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg"),linear-gradient(-30deg,#5855b0,#a79cfb);
}

#quiz-detail main {
  padding-top: calc(100vh - 90vh);
}

#quiz main {
  padding-top: calc(100vh - 75vh);
  position: relative;
  margin: unset;
  max-width: unset;
  width: calc(100% - 400px);
}

#quiz section img {
  width: 100%;
}

#quiz main>h2 {
  text-align: center;
  min-height: 2.5em;
}

#quiz section {
  text-align: center;
}

#quiz form section {
  text-align: center;
  width: 50%;
  margin: 0 2em;
}

#quiz form h2 {
  color: inherit;
  margin-bottom: 2em;
  font-size: 1.2em;
  padding-top: 1em;
  text-align: left;
  min-height: 8.8em;
  padding: 1em;
}

#quiz form h2:nth-of-type(2) strong {
  font-weight: 700;
  font-size: 1.2em;
  display: block;
  font-style: italic;
}

#quiz form h2:nth-of-type(2) {
  background-color: #fff;
}

#quiz #question {
  DISPLAY: flex;
  flex-direction: row;
}

#quiz form {
  overflow: hidden;
  scroll-behavior: smooth;
  width: 90%;
  margin: 0 auto;
}

#quiz form div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  color: #000;
  border-radius: 2em;
  flex-shrink: 0;
  height: auto;
  transform: scale(1);
  min-width: auto;
  transform-origin: center center;
  scroll-snap-align: start;
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

#quiz label {
  border-radius: 1em;
  background-color: #002b37;
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  position: relative;
  margin: 0 0 3em;
  font-size: 1em;
  color: #fff;
  min-height: 3em;
  max-width: 100%;
  text-align: center;
}

#quiz label input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.hidden {
  display: none;
}

.label-hidden {
  z-index: -999;
}

#quiz-result main {
  padding: unset;
  position: relative;
  margin: unset;
  max-width: unset;
  width: calc(100% - 400px);
}

#quiz-result main .result {
  padding: 6em 2em;
  max-width: 100%;
  background: url("https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg"),linear-gradient(-30deg,#5855b0,#a79cfb);
  height: auto;
  padding-top: calc(100vh - 85vh);
  background-size: cover;
}

#quiz-result main h1 {
  color: #fff;
}

#quiz-result section.result>h2 {
  text-align: center;
  color: #fff;
}

#quiz-result section.result .score-circle {
  width: 16em;
  height: 16em;
  margin: 3em auto;
  border-radius: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #003745;
}

#quiz-result section.result .score-circle p {
  font-size: 2em;
  line-height: 7.7em;
  font-weight: 700;
}

#quiz-result section.result>p {
  text-align: center;
  padding: 4em 1em 0;
}

#quiz-result section.result>p:last-child a {
  background-color: #fff;
  color: #fb5258!important;
  border-bottom: solid .25em #c5c5c5;
}

#quiz-result section.result>p a {
  padding: 1em;
  background-color: #fb5258;
  border-bottom: solid .25em #a8191e;
  margin-right: 0;
  border-radius: 1em;
  color: #fff!important;
  text-decoration: none;
  width: auto;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

#quiz-result .tips {
  padding-top: 4em;
}

#quiz-result .tips h2 {
  text-align: center;
  padding-bottom: 3em;
}

#quiz-result .panel ul {
  list-style: circle;
}

#quiz-result .tips li .panel li {
  padding: 0;
  margin-bottom: 0;
}

#quiz-result .tips>ul>li {
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: 10px 12px 34px 0 rgba(124,118,211,.17);
  color: #000;
}

#quiz-result .tips a {
  color: #fb5258;
  font-weight: 700;
}

#quiz-result .tips li button {
  background-color: inherit;
  font-size: 1.1em;
  font-weight: 700;
  color: #000;
  padding: 1em .5em;
  cursor: pointer;
}

#quiz-result .tips li button strong {
  display: flex;
}

#quiz-result .tips li button strong:before {
  content: "";
  display: inline-block;
  margin: 0 16px 0 0;
  height: 20px;
  width: 7px;
  border-radius: 10px;
  background: #ff445b;
}

.accordion {
  background-color: inherit;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: 0;
  font-size: 15px;
  transition: .4s;
}

.accordion:hover,
.active {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: inherit;
  overflow: hidden;
  height: 0;
}

.panel hr {
  background-color: #000;
  border-color: #000;
}

#quiz form div>section:first-child h2 {
  margin-bottom: 0;
  min-height: auto;
  padding-left: 0;
}

#quiz div>section:last-child p {
  height: 3em;
  text-align: right;
}

#quiz div>section:last-child p a {
  padding: 1em;
  background-color: #fb5258;
  border-bottom: solid .25em #a8191e;
  margin-right: 0;
  border-radius: 1em;
  color: #fff!important;
  text-decoration: none;
  width: auto;
  text-align: center;
  cursor: pointer;
}
.sidebar {
  background-color: #f6f6f6;
  color: #000;
  position: fixed;
  z-index: 3;
  overflow-y: scroll;
  top: 0;
  right: 0;
  width: calc(100% - 15em);
  background: #f6f6f6;
  max-width: 400px;
  height: 100%;
  max-width: 400px;
  height: 100%;
  padding: 0;
  -webkit-box-shadow: 0 0 32px rgba(53,47,122,.5);
  box-shadow: 0 0 32px rgba(53,47,122,.5);
}

.profile img {
  width: 5em;
  padding: 1em;
  border: 2px solid #002b37;
  border-radius: 100%;
}

.profile {
  z-index: 999;
  color: #000;
  width: 100%;
  text-align: center;
  padding-bottom: 5em;
  padding: 2em;
}

.profile h3 {
  color: #000;
  padding: 0;
  margin: 0;
}

.ranklijst,
.statistieken {
  text-align: center;
}

.sidebar .chat {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 2em;
}

.sidebar iframe {
  width: 100%;
  margin: auto;
  box-shadow: rgba(0,0,0,.45) 2px 4px 22px;
  height: 20em;
}

.sidebar .panel {
  padding: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1.5px solid #002b37;
}

.sidebar .chat h3 {
  padding-bottom: 1.5em;
  display: flex;
  text-align: left;
}

.sidebar .accordion {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 7px 18px;
  background-color: #fff;
  border-bottom: 1.5px solid #002b37;
}

.sidebar .accordion>strong {
  display: flex;
  flex-direction: column;
}

.sidebar .accordion>strong img {
  width: 2.6em;
  height: 2.3em;
}

.sidebar .missions {
  padding: 0 0 2em;
}

.sidebar .missions li a {
  display: flex;
  padding: 16px 40px;
  align-items: center;
  text-decoration: none;
  color: #002b37;
}

.sidebar .missions li a:hover {
  background-color: #e4e4e4;
}

.sidebar .missions li img {
  max-width: 2em;
  margin: 0 16px 0 0;
}

.sidebar .missions h3 {
  padding: 1em 1em .3em;
  display: flex;
  text-align: left;
}

.sidebar .panel {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

#start>nav {
  position: absolute;
  z-index: 9;
  width: 100%;
  padding: 2em;
  margin: 0 auto;
}

#start>nav ul li:hover {
  background-color: transparent;
}

#start>nav ul li img {
  max-width: 22em;
}

#start>nav ul a:hover {
  color: #000;
}

#start>nav ul a {
  color: #fff;
  font-weight: 700;
  font-size: 1.4em;
  transition: .3s;
}

#start>nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90em;
  margin: 0 auto;
}

#start>nav ul li {
  align-items: left;
  ALIGN-CONTENT: left;
  width: auto;
  position: relative;
  color: #fff;
}

#start main>section:nth-of-type(1) {
  width: 100%;
  background: url("https://wijzer.amsterdam/dist/img/header-pattern.7c2e17c1.svg"),linear-gradient(-30deg,#5855b0,#a79cfb);
  min-height: 100vh;
  max-width: unset;
  padding-top: calc(100vh - 70vh);
}

#start main {
  padding: initial;
  max-width: 100%!important;
  margin: unset;
  margin-top: unset;
  color: #fff;
}

#start main ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  color: #000;
  border-radius: 2em;
  height: auto;
  min-width: auto;
  max-width: 90em;
  height: auto;
}

#start main ul #info {
  padding: 1em;
  color: #fff;
  position: relative;
  width: 50%;
}

#start main ul li p:first-child {
  font-size: 1.7em;
}

#start main ul li:last-child p {
  margin: 0 auto;
  text-align: center;
}

#start main ul li img {
  margin: 0 auto;
}

#start main ul li h1 {
  color: #fff;
  text-align: left;
  font-size: 3.125rem;
}

#start main ul #info p:last-child {
  display: flex;
  justify-content: start;
}

#start main ul li a {
  padding: 1em;
  background-color: #fff;
  border-bottom: solid .25em #dfdfdf;
  min-width: 12em;
  margin-right: 0;
  border-radius: 1em;
  color: #fb5258;
  text-decoration: none;
  width: auto;
  text-align: center;
  font-weight: 700;
  transition: .3s ease-in-out 0s;
  font-size: 1.2em;
}

#start main ul li a:hover {
  filter: grayscale(.5);
}

#start main ul li a:first-child {
  padding: 1em;
  background-color: #fb5258;
  border-bottom: solid .25em #a8191e;
  margin-right: 0;
  border-radius: 1em;
  color: #fff;
  text-decoration: none;
  width: auto;
  text-align: center;
}

#start main section:nth-of-type(2) {
  padding: 4em 0;
}

#usp main ul {
  padding: 1em;
  color: #fff;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

#usp>h2 {
  padding: 1em 1em 2em;
  text-align: center;
  font-size: 2em;
}

#usp ul li h2 {
  text-align: left;
  padding: 1em 0;
}

#usp ul li img {
  width: 3em;
  height: 2.5em;
}

#start #usp ul {
  margin-top: 3em;
}

#start #usp ul li {
  width: 33%;
  padding: 1em;
}

#start #usp ul li p {
  text-align: left;
}

section#dev {
  background: url("https://wijzer.amsterdam/dist/img/footer-pattern.ea88741c.svg"),linear-gradient(278deg,#005668,#002b37);
  text-align: center;
  max-width: 100%;
  padding: 10em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#start #footerDevelopers {
  background: url("https://wijzer.amsterdam/dist/img/footer-pattern.ea88741c.svg"),linear-gradient(278deg,#005668,#002b37);
  width: 100%;
  padding: 1em 5em;
  color: #fff;
  background: #ff445b;
}

section#dev>h2 {
  color: #fff;
  font-size: 2em;
  padding-bottom: .6em;
}

section#dev>p:nth-of-type(2) {
  padding: 3em;
}

section#dev>p a {
  padding: 1em;
  background-color: #fff;
  border-bottom: solid .25em #dfdfdf;
  min-width: 12em;
  margin-right: 0;
  border-radius: 1em;
  color: #fb5258;
  text-decoration: none;
  width: auto;
  text-align: center;
  font-weight: 700;
  transition: .3s ease-in-out 0s;
  font-size: 1.2em;
  margin: 0;
}