<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>


<body id="detail">

    <main>
        <!-- <h1>Huidig score <br>
        40/100p</h1> -->
        <ul>
           
            <li id="info-img">
                <p><img src="../../source/pictures/bus.png" alt=""></p>

            </li>
            <li id="info">
                <h2>
                    OV 
                </h2>
                <p>Yes je hebt hem net te pakken! Doe de OV test om inzicht te krijgen over de gegevens die jij net met je pas hebt achtergelaten bij de vervoerder.</p>
                <a href="/ov-game">Start</a>
            </li>
        </ul>
       
    </main>
    <%- include ('../../partials/sidebar.ejs') %>



    <!-- <script src="js/script.js"></script> -->


</body>


</html>