<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>


<body id="plugin2">

    <main>
        <!-- <h1>Huidig score <br>
        40/100p</h1> -->
        <ul>
           
            <li id="info-img">
                <p><img src="../../source/icons/card.svg"" alt=""></p>

            </li>
            <li id="info">
                <h2>
                    Tijd om in te checken
                </h2>
                <p><button class="checkin"> Scan je Openbaar vervoer kaart </button></p>
            </li>
        </ul>
        <section class="dataset hidden">
            <h2>Wanneer je inchecked dit wordt gestuurd naar het bedrijf. Niet alleen waar je bent ingecheckd maar ook je persoonlijke gegevens</h2>
            <ul>
                <li>
                    <h2>Halte: Centraal Station </h2>
                </li>
                <li>
                   <h2>Naam: <%= user.name %></h2> 
                </li>
                <li>
                    <h2>Geboortedatum: 01-01-90</h2> 
                 </li>
                 <li>
                    <h2>Adres: Haarlemmerdijk 5</h2> 
                 </li>
                <li>
                    
                    <h2>Kaartnummer: 3567 2344 2321 0900</h2>
                </li>
                <li>
                    
                    <h2>Saldo: &euro;10.53</h2>
                </li>
                <li>
                    
                    <h2>Bankrekening: 0002 4356 627 21</h2>
                </li>
                <li>
                    
                    <h2>Telefoonnummer: 0612334567</h2>
                </li>
                <li>
                    
                    <h2>E-mail: <%= user.name %>@mail.com</h2>
                </li>
            </ul>
        </section>
    </main>
    
    <%- include ('../../partials/sidebar.ejs') %>




    <script src="../js/dataset.js"></script>

</body>


</html>