<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>


<body id="plugin2">

    <main>
        <form action="/ov-result" method="POST">
            <div id="question1">
                <section>
                    <p><img src="../../source/icons/card.svg"" alt=""></p>

                </section>
                <section>
                </h2>
                    <h2 id=" text-question1">Tijd om in te checken. Weet jij wat voor data er wordt gestuurd naar het
                        bedrijf wanneer je ingechecked.
                        </h2>
                        <h2 class="info-text-question1 hidden">De bank vraagt nooit om in te loggen op Mijn Bank
                            (Internetbankieren) via een
                            sms of e-mail.
                        </h2>
                        <div class="all-questions">
                            <label for="question1-answer1" class="question1-answer1">
                                <input type="checkbox" id="question1-answer1" name="question1" data-score="1" value="1">
                                Mijn Locatie
                            </label>

                            <label for="question1-answer2" class="question1-answer2">
                                <input type="checkbox" id="question1-answer2" name="question1" data-score="1" value="1">
                                Mijn Bankrekening</label>
                   
                        <label for="question1-answer3" class="question1-answer3">
                            <input type="checkbox" id="question1-answer3" name="question3" data-score="1" value="1">
                            Misschien toch contact opnemen met mijn bank en vragen waarom mijn pas is
                            gedeactiveerd.</label>
            <label for="question1-answer4" class="question1-answer4">
                <input type="checkbox" id="question1-answer4" name="question4" data-score="1" value="1">
                Misschien toch contact opnemen met mijn bank en vragen waarom mijn pas is gedeactiveerd.</label>
            </div>
            <p><button id="submit" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg></button></p>
            </section>
            </div>

            <ul>

                <li id="info-img">
                    <p><img src="../../source/icons/card.svg"" alt=""></p>

            </li>
            <li id=" info">
                        <h2>
                            Tijd om in te checken
                        </h2>
                        <p><button class="checkin"> Scan je Openbaar vervoer kaart </button></p>
                </li>
            </ul>
            <section class="dataset hidden">
                <h2>Wanneer je incheck dit wordt gestuurd naar het bedrijf. Niet alleen waar je bent ingechecked maar
                    ook je persoonlijke gegevens</h2>
                <ul>
                    <li>
                        <h2>Halte: Centraal Station </h2>
                    </li>
                    <li>
                        <h2>Naam: <%= user.name %></h2>
                    </li>
                    <li>
                        <h2>Geboortedatum: 01-01-90</h2>
                    </li>
                    <li>
                        <h2>Adres: Haarlemmerdijk 5</h2>
                    </li>
                    <li>

                        <h2>Kaartnummer: 3567 2344 2321 0900</h2>
                    </li>
                    <li>

                        <h2>Saldo: &euro;10.53</h2>
                    </li>
                    <li>

                        <h2>Bankrekening: 0002 4356 627 21</h2>
                    </li>
                    <li>

                        <h2>Telefoonnummer: 0612334567</h2>
                    </li>
                    <li>

                        <h2>E-mail: <%= user.name %>@mail.com</h2>
                    </li>
                    <div class="settings">
                        <p><a href="/overzicht">Terug naar map</a></p>

                    </div>
                </ul>
            </section>
    </main>

    <%- include ('../../partials/sidebar.ejs') %>




    <script src="../js/dataset.js"></script>

</body>


</html>