<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>


<body id="plugin2">

    <main>
        <form action="/ov-result" method="POST">
            <div id="question1">
                <section>
                    <p><img src="../../source/icons/card.svg"" alt=""></p>

                </section>
                <section>
                </h2>
<!--                    <h2 id=" text-question1">Tijd om in te checken. Weet jij wat voor gegevens er wordt gestuurd naar het-->
<!--                        bedrijf wanneer je incheckt?  <i>(Meerdere antwoorden kunnen goed zijn)</i>-->
<!--                        </h2>-->
                    <h2 id=" text-question1">Tijd om in te checken. Weet jij wat voor persoonlijke informatie er gedeeld wordt
                        wanneer je incheckt?  <i>(Meerdere antwoorden kunnen goed zijn)</i>
                        </h2>
                       
                        <div class="all-questions">
                            <label for="question1-answer1" class="question1-answer1">
                                <input type="checkbox" id="question1-answer1" name="question1-answer1" data-score="1" value="1">
                                Mijn Locatie
                            </label>

                            <label for="question1-answer2" class="question1-answer2">
                                <input type="checkbox" id="question1-answer2" name="question2" data-score="1" value="1">
                                Mijn Bankrekening</label>
                   
                        <label for="question1-answer3" class="question1-answer3">
                            <input type="checkbox" id="question1-answer3" name="question3" data-score="1" value="1">
                            Mijn saldo</label>
            <label for="question1-answer4" class="question1-answer4">
                <input type="checkbox" id="question1-answer4" name="question4" data-score="1" value="1">
                Mijn kaartnummer</label>
            </div>
            <p><button id="submit" type="submit">Beantwoorden</button></p>
            </section>
            </div>

          
            </section>
    </main>

    <%- include ('../../partials/game-sidebar.ejs') %>




    <script src="../js/dataset.js"></script>

</body>


</html>